<% include ../../partials/header %>
<section>
  <div class="index-container">
    <% include ../../admin/admin-nav %>
    <div class="container">
      <div>
        <h1>Articles</h1>
        <a href="/admin.stylishfunction.com/articles/new">create product</a>
      </div>
      <div>
     <input type="text" name="article-search" class="browser-default" id="article-search">
      </div>
    </div>
  </div>
</section>