<!-- product title -->
<label for="product-title">Product Title</label>
<input id="product-title" class="product-input browser-default" type="text" name="product[title]" required />

<!-- main category  -->
<label for="main-category">Main Category</label>
<input id="main-category" class="product-input browser-default" type="text" name="product[main_category]" required />

<!-- product price -->
<label for="product-price">Price</label>
<input id="product-price" class="product-input browser-default" type="text" name="product[price]" required />

<!-- main image upload -->
<label for="main-image">Main Image</label>
<input id="main-image" class="product-input browser-default" type="text" name="product[main_image]" required />

<!-- sub image upload -->
<label for="sub-images">Sub Images</label>
<input id="sub-images" class="product-input browser-default" type="text" name="product[sub_images]" />

<!-- link address -->
<label for="link address">link address</label>
<input id="link-address" class="product-input browser-default" type="text" name="product[linkAddress]" required />

<!-- product description -->
<label for="product-description">Product Description</label>
<textarea id="product-description" class="product-input browser-default" name="product[product_description]" required>
</textarea>