<!-- product title -->
<label for="product-title">Product Title</label>
<input id="product-title" class="product-input browser-default" type="text" name="Product[title]" required />

<!-- category  -->
<label for="main-category">Category</label>
<input id="main-category" class="product-input browser-default" type="text" name="Product[main_category]" required />

<!-- product price -->
<label for="product-price">Price</label>
<input id="product-price" class="product-input browser-default" type="text" name="Product[price]" required />

<!-- main image upload -->
<label for="main-image">Main Image</label>
<input id="main-image" class="product-input browser-default" type="text" name="Product[main_image]" required />


<!-- product description -->
<label for="product-description">Product Description</label>
<textarea id="product-description" class="product-input browser-default" name="Product[description]" required>
</textarea>