<% include ../partials/header %>
<section>
  <h1>Hello Admin</h1>
  <div>
    <h1> Total Products <%= seatingProducts.length %> </h1>
    <h1> Total Products <%= tableproducts.length %></h1>
  </div>
  <div>
    <aside>
      <a href="/admin/products/seating">seating Products</a>
      <a href="/admin/products/tables">Table Products</a>
      <span><a href="#">Log Off/Log In</a></span>
    </aside>
  </div>
</section>

<% include ../partials/footer %>