<% include ../partials/header %>
<section class="index-container">
  <% include ../admin/admin-nav %>
  <div class="container">
    <h1>Hello Admin</h1>
    <div>
      <h1>Total products <%=  seatingProducts.length + tableproducts.length %></h1>
      <h1> Total seating products <%= seatingProducts.length %> </h1>
      <h1> Total table products <%= tableproducts.length %></h1>
    </div>
  </div>
</section>
<% include ../partials/footer %>