<section>
  <h1>Hello Admin</h1>
<div>
<h1> Total Products <%= allProducts.length %> </h1>
<h1> Sofa Products - <%= sofaProducts.length %> </h1>
<h1> Table Products - <%= tableProducts.length %> </h1>
<div>
<div>
  <aside>
    <a href="/admin/products/new">Create Product</a>
    <a href="/admin/products">All Products</a></span>
    <span><a href="#">Log Off</a>
  </aside>
</div>
</section>