<nav class="dash-board-nav">
  <section class="dash-board-container">
    <h4>Admin</h4>
    <div>
      <a href="/admin/index">Home</a>
      <div class="product-menu">
        <a>Products<i class="material-icons">keyboard_arrow_down</i><i class="material-icons"
            style="display: none">keyboard_arrow_up</i></a>
      </div>
      <div class="product-menu-items">
        <a href="/admin/products/seating">Seating</a>
        <a href="/admin/products/tables">Tables</a>
      </div>
      <a href="/admin/messages">Messages</a>
      <a href="/admin/logout">Logout</a>
    </div>
  </section>
</nav>