<% include ../partials/header %>
<section class="index-container">
  <% include ../admin/admin-nav %>
  <div class="container">
    <h1>Hello Admin</h1>
    <div>

    </div>
  </div>
</section>
<% include ../partials/footer %>