<nav class="dash-board-nav hide-on-med-and-down">
  <div class="dash-board-container">
    <h1 class="admin-nav-title">Admin</h1>
    <ul>
      <li><a href="/admin/dashboard">Home</a></li>
      <li><a href="/admin/articles">Articles</a></li>
      <li><a href="/admin/messages">Messages</a></li>
      <li><a href="/">Featured</a></li>
      <li><a href="/">Main</a></li>
      <li><a href="/admin/logout">Logout</a></li>
    </ul>
  </div>
</nav>
