<nav class="dash-board-nav">
  <section class="dash-board-container">
    <div>
      <h1 class="admin-nav-title">Admin</h1>
      <a href="/admin.stylishfunction.com/dashboard">Home</a>
      <a href="/admin.stylishfunction.com/articles">Articles</a>
      <a href="/admin.stylishfunction.com/messages">Messages</a>
      <a href="/">Featured</a>
      <a href="/">Main</a>
      <a href="/admin.stylishfunction.com">Log In</a>
      <a href="/admin.stylishfunction.com/logout">Logout</a>
    </div>
  </section>
</nav>