<nav class="dash-board-nav">
  <section class="dash-board-container">
    <div>
      <h4>Admin</h4>
      <a href="/admin/index">Home</a>
      <span class="product-menu">Products
        <i class="material-icons">arrow_drop_down</i>
        <!-- <i class="material-icons" style="display: inline-block">arrow_drop_up</i> -->
      </span>
      <ul class="product-menu-items">
        <li><a href="/admin/products/seating">Seating</a></li>
        <li><a href="/admin/products/tables">Tables</a></li>
      </ul>
      <a href="/admin/messages">Messages</a>
      <a href="/admin/logout">Logout</a>
    </div>
  </section>
</nav>