<nav class="dash-board-nav">
  <section class="dash-board-container">
    <nav class="dash-board-nav">
      <ul>
        <li class="dash-board-nav-items">
          <a href="/admin/index">Home</a>
        </li>
        <li class="dash-board-nav-items">
          <a href="/admin/products/new">Create Product</a>
        </li>
        <li class="dash-board-nav-items">
          <a href="/admin/products">View Products</a>
        </li>
      </ul>
    </nav>
  </section>
</nav>