<nav class="dash-board-nav">
  <section class="dash-board-container">
    <div>
      <h1 class="admin-nav-title">Admin</h1>
      <a href="/admin/dashboard">Home</a>
      <a href="/admin/featured/articles">Featured</a>
      <a href="/admin/messages">Messages</a>
      <a href="/admin/logout">Logout</a>
    </div>
  </section>
</nav>