<main class="dash-board">
  <section class="dash-board-container">
    <nav class="dash-board-nav">
      <ul>
        <li class="dash-board-nav-items">Products</li>
        <li class="dash-board-nav-items">Profile</li>
      </ul>
    </nav>
  </section>
</main>