<% include ../partials/header %>
<article class="admin-login">
  <section class="admin-login-form container">
    <h1 class="admin-login-form-title">Admin Login</h1>
    <form class="z-depth-1">
      <label for="username">Enter Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Enter Password</label>
      <input type="password" id="password" name="name" />
      <button class="btn">Login</button>
    </form>
  </section>
</article>