<nav class="admin-mobile-nav hide-on-large-only">
  <i class="material-icons hamburger hide-on-large-only">menu</i>
  <h1 class="admin-mobile-nav_title"><a href="/admin/dashboard">Admin</a></h1>
</nav>
<ul class="admin-mobile-nav_links" style="display: none">
  <li><a href="/admin/dashboard">Home</a></li>
  <li><a href="/admin/articles">Articles</a></li>
  <li><a href="/admin/messages">Messages</a></li>
  <li><a href="/">Featured</a></li>
  <li><a href="/">Main</a></li>
  <li><a href="/admin/logout">Logout</a></li>
</ul>
