<% include ../partials/header %>
<h1>products</h1>

<% indexProducts.forEach(product => { %>
    <%= product.title %>
    <img src="<%= product.main_image %>" />
     <a href="/admin/products/<%= product._id %>">look here</a>
 <% }) %>
 
<% include ../partials/footer %>