<section>
  <div class="form-container">
    <h1>Create a Product</h1>
    <form>
      <!-- product title -->
      <label for="product-title">Product Title</label>
      <input id="product-title" class="product-input" type="text" name="product-title" />
      <!-- product price -->
      <label for="product-price">Price</label>
      <input id="product-price" class="product-input" type="text" name="price" />
      <!-- product description -->
      <label for="product-description">Product Description</label>
      <textarea id="product-description" class="product-input" name="description" rows="6" cols="40"></textarea>
      <div class="product-form-button-container">
        <button type="submit" class="form-button submit">Submit</button>
        <button type="reset" class="form-button reset">reset</button>
      </div>
    </form>
  </div>
</section>
