.display-header-container {
  @include flex-direction-column;
  .article-product-description {
    padding: 0 0.75rem;
    h1 {
      margin: 1rem 0;
      font-size: 3.5rem;
      text-align: center;
    }
  }
}

.card-content {
  div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin-top: 1rem;
    .card-title {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      padding: 0.2rem;
      text-align: justify;
    }
    .card-price {
      font-size: 1.5rem;
      display: inline-block;
      padding: 5px 0;
    }
  }
  p {
    margin-top: 1rem;
  }
  .button-container {
    border-bottom: none;
    padding-top: 1rem;
    margin-bottom: 1rem;
    .go-button {
      border: none;
      width: 50%;
      margin: auto;
    }
  }
}
