.display-header-container {
  @include flex-direction(column);
  .article-product-description {
    padding: 0 0.75rem;
    h1 {
      margin: 1rem 0;
      font-size: 3.5rem;
      text-align: center;
    }
  }
  .card {
    @include box-shadow(none);
    .card-content {
      padding: 0 1rem;
      h3 {
        text-align: center;
        margin: 1rem;
      }
    }
  }
  .footer-navigation {
    .copyright {
      align-self: center;
    }
  }
}

// index product showpage section
.product-container {
  margin: 2rem 0;
  .card-content {
    @include flex-direction(column);
    border: none;
  }
  .card-image {
    @include flex-align(center, center);
    margin-bottom: 1rem;
    border: none;
    img {
      width: 100%;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    .card-title {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      padding: 0.2rem;
      text-align: justify;
    }
    .card-price {
      font-size: 1.5rem;
      display: inline-block;
      padding: 5px 0;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .button-container {
    border-bottom: none;
    padding-top: 1rem;
    .go-button {
      width: 50%;
      margin: auto;
    }
  }
}
