.display-header-container {
  @include flex-direction-column;
  .article-product-description {
    h1 {
      text-align: center;
      margin: 1rem 0;
      font-size: 3.75rem;
    }
    p {
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      margin-bottom: 1rem;
      padding: 1rem 0.75rem;
    }
  }

  .card {
    @include no-box-shadow;
    .card-image {
      height: 350px;
      img {
        height: 100%;
        width: 100;
        object-fit: cover;
      }
    }
    .card-title {
      text-align: center;
      margin: 0.5rem 0;
    }
    .card-content {
      padding: 0;
    }
  }
}

// product show page
.product-container {
  margin: 2rem 0;
  .card-content {
    @include flex-direction-column;
    border: none;
  }
  .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: none;
    height: 35rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    .card-title {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      padding: 0.2rem;
    }
    .card-price {
      font-size: 1.5rem;
      display: inline-block;
      padding: 5px 0;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .go-button {
    border: none;
    width: 50%;
    margin: auto;
  }
}
