<div class="row container">
  <div class="col s12 l4 info-box">
    <div class="card">
      <img src="../images/mod-icon.png" />
      <h5>Modular</h5>
      <span class="content-text">
        <p>
          In publishing and graphic design, lorem ipsum is a placeholder 
          text commonly used to demonstrate the visual form of a document 
          without relying.

        </p>
      </span>
    </div>
  </div>
    <div class="col s12 l4 info-box">
      <div class="card">
        <img src="../images/style-icon.png" />
        <h5>style</h5>
        <p class="content-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          Suscipit quam veritatis dicta ratione similique, ea eum in 
          laboriosam at eligendi.
        </p>
      </div>
    </div>
    <div class="col s12 l4 info-box">
      <div class="card">
        <img src="../images/function-icon.png" />
        <h5>function</h5>
        <p class="content-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          Suscipit quam veritatis dicta ratione similique, ea eum in 
          laboriosam at eligendi.
        </p>
      </div>
    </div>             
  </div>
  <article class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus sequi suscipit odio optio! 
      Adipisci praesentium illo illum tenetur. Cum eos totam eligendi sint repellendus voluptatem voluptas 
      consequuntur? Ducimus deserunt suscipit ex eum perspiciatis nulla illum quisquam amet? Quisquam doloremque 
      eos tempore non aliquid. Dolorum fugiat maiores iste obcaecati exercitationem.
    </p>
  </article>
  