<div class="row container">
  <h3 class="message" style="font-size: 2.3rem">simple solutions to enhance space and style for home living</h3>
  <div class="col s12 l4 info-box">
    <div class="card">
      <img src="../images/mod-icon.png" />
      <h5>Modular</h5>
      <span class="content-text">
        <ul>
          <li style="list-style: square">Ever changing space not bound by your ordinary traditional bulky
            what you see is what you get furniture.
          </li>
          <li style="list-style: square">More equipped to fit a room of any size or shape.</li>
        </ul>
      </span>
    </div>
  </div>
    <div class="col s12 l4 info-box">
      <div class="card">
        <img src="../images/style-icon.png" />
        <h5>style</h5>
        <p class="content-text">
          <ul>
            <li style="list-style: square">Flexible interchangable colors and fabrics choices.</li>
            <li style="list-style: square">Machine washable covers to keeps things looking good and clean.</li>
            <li style="list-style: square">Clean lines that makes your space seem more inviting and spacious.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="col s12 l4 info-box">
      <div class="card">
        <img src="../images/function-icon.png" />
        <h5>function</h5>
        <p class="content-text">
          <ul>
            <li style="list-style: square">Combo features for a seamless unit</li>
            <li style="list-style: square">Accomodate needs for lounging, working, and reduce clutter. </li>
            <li style="list-style: square">Ability to rearrange furniture for movie or game night.</li>
          </ul>
        </p>
      </div>
    </div>             
  </div>
  <article style="display: none" class="container">
    <h3>Modular Tips</h3>
    <ul>
      <li style="list-style: square">Allows be aware of your space to determine your needs.</li>
      <li style="list-style: square">Some pieces can weigh a considerable amount (ie sofa that converts to a bed).</li>
      <li style="list-style: square">Do not go over board with getting too many pieces you may not need.</li>
      <li style="list-style: square">Be aware, depending on the type of furniture and company.  Furniture may require assembly.</li>
    </ul>
  </article>
  