<main id="featured">
  <h1>featured</h1>
  <div class="row">
    <!-- card one -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <a href="#" target="_blank"><img class="img" src="../images/smallspace.jpeg" /></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="#" target="_blank">chair in the library</a></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam facere numquam non iure voluptate
            quod eligendi earum neque quam</p>
        </div>
      </div>
    </div>
    <!-- card two -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <a href="#" target="_blank"><img class="img" src="../images/exampleone.jpg" /></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="#" target="_blank">card two</a></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, cum suscipit optio beatae delectus modi.
            Dignissimos, id ducimus! Obcaecati, optio.</p>
        </div>
      </div>
    </div>
    <!-- card three -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://bit.ly/2R2UgEb" target="_blank"><img class="img" src="https://bit.ly/2T0pRrJ" /></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://bit.ly/2R2UgEb" target="_blank">Moviesac Holiday Sac</a></span>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis saepe animi nihil corrupti expedita
            eligendi et repellat dicta consequatur quod</p>
        </div>
      </div>
    </div>
    <!-- card four -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://bit.ly/2QC2B6s" target="_blank"><img class="img" src="https://bit.ly/2Gt69mP" /></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://bit.ly/2QC2B6s" target="_blank">Sabine Sleeper Loveseat
              <!-- card four --></a></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, distinctio nulla. Expedita accusantium
            itaque blanditiis a eum. Quasi, veniam ratione!</p>
        </div>
      </div>
    </div>
  </div>
</main>