<section class="featured-section">
  <div class="container">
    <div class="row">
      <h3>Trending</h3>
      <% Articles.forEach( Article => { %>
      <div class="col s12 m4 l4">
        <div class="card" style="border: 1px solid black">
          <div class="card-content">
            <h5>
              <a href="/trending/articles/<%= Article._id %>">
                <%= Article.title %>
              </a>
            </h5>
            <p><%= Article.description.brief %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <p>More articles await you
      <a href="/trending/articles">
        <em>GO</em>
      </a>
    </p>
  </div>
</section>