<footer id="footer-section">
  <div class="footer-nav">
    <ul>
      <li><a href="/privacy" class="footer-items">privacy</a></li>
      <li><a href="/TOS" class="footer-items">term of services</a></li>
      <li><a href="/affiliate-disclaimer" class="footer-items">affiliate disclaimer</a></li>
      <li><a href="/about-us" class="footer-items">about us</a></li>
      <li><a href="/contact-us" class="footer-items">contact us</a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; 2019 stylish function. all rights reserved.
  </div>
</footer>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="../js/sf_functionality.js"></script>
</body>

</html>