<header class="display-header">
  <section class="display-header-container">
    <div>
      <h2 class="display-header-title">
        <span>space-saving</span> solutions with a touch of <span>modern</span>
      </h2>
      <p> Miminalist, Multi-functional, and Modular furniture to fit the needs of your space.</p>
    </div>
  </section>
</header>
<section class="description-info">
  <aside class="about-info">
    <p class="disclaimer-paragraph">
      <strong>Purchases through our links may earn a affiliate
        commission
      </strong>
    </p> <a href="/affiliate-disclaimer">learn more</a>
  </aside>
</section>