<header id="display-header">
  <div class="header-info">
    <div>
      <h2>
        <span>space-saving</span> solutions with a touch of <span>modern</span>
      </h2>
      <p>Miminalist, Multi-functional, and Modular furniture to fit the needs of your space.</p>
    </div>
  </div>
</header>
<section class="description-info">
  <article class="about-info">
    <p class="disclaimer-paragraph">
      <strong>Purchases through our links may earn a affiliate
        commission
      </strong>
    </p> <a href="/affiliate-disclaimer">learn more</a>
  </article>
</section>