<header id="display-header">
  <div class="header-info">
    <h2>space-saving solutions with a touch of modern</h2>
  </div>
</header>
<section class="description-info">
  <div>
    <span class="icons">
      <h6>Functional</h6><img src="../images/function-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Modular</h6><img src="../images/mod-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Stylish</h6><img src="../images/style-icon.png" alt="">
    </span>
  </div>
</section>