<header id="display-header">
  <div class="header-info">
    <h2>
      <span style="color: rgb(211, 211, 17);">space-saving</span> solutions with a touch of
      <span style="color: rgb(211, 211, 17);">modern</span>
    </h2>
  </div>
</header>
<section class="description-info">
  <div>
    <span class="icons">
      <h6>Functionality</h6><img src="../images/function-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Modular</h6><img src="../images/mod-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Style</h6><img src="../images/style-icon.png" alt="">
    </span>
  </div>
  <article class="about-info">
    <p>
      Online guide for multi-functional and modular furniture to reduce clutter to
      fit the needs of your space.
    </p>
    <p class="disclaimer-paragraph">
      <strong>Disclaimer: Purchases through our links may earn a affiliate
        commission
      </strong>
    </p>
  </article>
</section>