<header class="display-header">
  <%- include('../partials/nav') %>
  <section class="display-header-container container">
    <h1 class="display-header-title">
      <span>stylish modular & space-saving guide </span> with a touch of <span>modern</span>
    </h1>
  </section>
</header>

<!-- <aside class="affiliate-disclaimer-container">
    <p class="affiliate-disclaimer-paragraph">
      <strong>Certain product links may earn a affiliate
        commission
      </strong>
    </p> <a href="/affiliate-disclaimer">learn more</a>
  </aside> -->