<header id="display-header">
  <div class="header-info">
    <h2>
      furniture <span style="color: rgb(211, 211, 17);">space-saving</span> solutions with a touch of
      <span style="color: rgb(211, 211, 17);">modern</span>
    </h2>
  </div>
</header>
<section class="description-info">
  <div>
    <span class="icons">
      <h6>Functional</h6><img src="../images/function-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Modular</h6><img src="../images/mod-icon.png" alt="">
    </span>
    <span class="icons">
      <h6>Stylish</h6><img src="../images/style-icon.png" alt="">
    </span>
  </div>
  <article class="about-info center container" style="margin-bottom: 1rem">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam totam eaque nulla laudantium cum soluta
    officia neque doloribus hic.
  </article>
</section>