<header class="display-header">
  <%- include('../partials/nav') %>
  <section class="display-header-container container">
    <h1 class="display-header-title">
      modular, stylish, & space-saving solutions with a touch of modern
    </h1>
  </section>
</header>
