<header id="display-header">
  <div class="header-info">
    <h2>
      <span>space-saving</span> solutions with a touch of
      <span>modern</span>
    </h2>
  </div>
</header>
<section class="description-info">
  <article class="about-info">
    <h1>
      Miminalist, Multi-functional, and Modular furniture to fit the needs of your space
      for a clutter free and stylish feel.
    </h1>
    <p class="disclaimer-paragraph">
      <strong>Disclaimer: Purchases through our links may earn a affiliate
        commission
      </strong>
    </p>
  </article>
</section>