<header class="display-header">
  <section class="display-header-container">
    <header>
      <h1 class="display-header-title">
        <span>space-saving</span> solutions with a touch of <span>modern</span>
      </h1>
    </header>
  </section>
</header>
<section class="affiliate-disclaimer-section">
  <aside class="affiliate-disclaimer-container">
    <p class="affiliate-disclaimer-paragraph">
      <strong>Purchases through our links may earn a affiliate
        commission
      </strong>
    </p> <a href="/affiliate-disclaimer">learn more</a>
  </aside>
</section>