<section id="index-info-section">
    <h1 class="index-info-title">
        Finding different styles from traditional bulky
        furniture for a better adaptable, organized and functional space.
    </h1>
    <div class="index-info-container">
        <article class="index-info-article card">
            Interior furniture finds to transform
            small to big spaces for residential,
            dorms rooms, or small apartments.
        </article>
        <article class="index-info-article card">
            Better options for fabric choices, the amount of furniture pieces needed,
            functionality needs, the ease of reconfiguration and so much more.
        </article>
    </div>
</section>