<section id="index-info-section">
    <div class="index-info-title index-info">
        Finding different styles from traditional bulky
        furniture for a better adaptable, organized and functional space.
    </div>
    <div class="index-info-article-container index-info">
        <article class="index-info-article card index-info">
            Interior furniture finds to transform
            small to big spaces for residential,
            dorms rooms, or small apartments.
        </article>
        <article class="index-info-article card index-info">
            Better options for fabric choices, the amount of furniture pieces needed,
            functionality needs, the ease of reconfiguration and so much more.
        </article>
    </div>
</section>