<section id="trending-section">
    <h1 class="trending-section-title">
        Online guide for a different style approach from the traditional bulky
        furniture for a less cluttered, better and functional living.
    </h1>
    <div class="trending-section-container">
        <article class="trending-section-article">
            Interior furniture finds to transform 
            small or big spaces whether residential, 
            dorms rooms, or small apartments
        </article>
        <article class="trending-section-article">
            Alternative solutions that may be a better it 
            such as lounge bean bag sacs or modular 
            furniture that is convertible and easy to configure.
        </article>
        <article class="trending-section-article">
            Assembly may be required for some pieces of furniture (more than others).
            So know your space and how it will fit before any considerations
        </article>
        <article class="trending-section-article">
            Miminalist, Multi-functional, and Modular 
            furniture to fit the needs of your space.
        </article>
    </div>
 
</section>