<section class="nav-badges">
  <h1>Featured</h1>
  <article class="row">
    <div class="index-nav-item col l12 m6 s12" >
      <div class="card">
        <div class="card-image">
          <img src = "../images/singlechair.jpeg" />
        </div>
        <div class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates numquam, iste
          cumque natus quod animi officiis! Reiciendis molestias, unde, ea harum quod voluptatem iste optio quis obcaecati sint
          possimus.</div>
      </div>
    </div>
  </article>
  <article class="row">
    <div class="index-nav-item col l12 m6 s12">
      <h2><a href="#">Table</a></h2>
      <section #seating-section class="nav-badge-items">
        <div class="table-items">Dining</div>
        <div class="table-items">Coffee table</div>
        <div class="table-items">Console</div>
      </section>
    </div>
  </article>
</section>