<section class="nav-badges">
  <article class="row">
    <div class="index-nav-item col l12 m6 s12" >
      <h2><a href="#">Seating</a></h2>
      <section #seating-section class="nav-badge-items">
        <div class="seating-items">Modular Seating</div>
        <div class="seating-items">Alternative Seating</div>
        <div class="seating-items">Sleeper Sofa Combo</div>
      </section>
    </div>
  </article>
  <article class="row">
    <div class="index-nav-item col l12 m6 s12">
      <h2><a href="#">Table</a></h2>
      <section #seating-section class="nav-badge-items">
        <div class="table-items">Dining</div>
        <div class="table-items">Coffee table</div>
        <div class="table-items">Console</div>
      </section>
    </div>
  </article>
</section>