<section class="nav-badges" style="margin: 1rem 0">
  <article class="row">
    <div class="index-nav-item col l6 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../images/sm-dual-combo.jpg" />
        </div>
        <div class="card-title center">
          <a href="#">Functional Seating</a>
        </div>
        <div class="card-content">
          Outside the box seating that is multifunctional, versatile,
          and flexible options,

          Section features: bean bag sacs, convertible/functional ottomans and benches.
        </div>
      </div>
    </div>
    <div class="index-nav-item col l6 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../images/sm-dual-combo.jpg" />
        </div>
        <div class="card-title center">
          <a href="#">Functional Table</a>
        </div>
        <div class="card-content">
          Gain better flexibility to rearrange your seating for specific events and activities
          Section features: bean bag sacs, convertible/functional ottomans and benches.
        </div>
      </div>
    </div>
  </article>
</section>