<section class="nav-badges">
  <article class="row">
    <div class="index-nav-item col l3 m6 s12">
      <div class="card">
        <div class="card-image"><img src="../images/sm-dual-combo.jpg" /></div>
        <div class="card-content">s;jadfljflsjflaksdj</div>
      </div>
    </div>
    <div class="index-nav-item col l3 m6 s12">
      <div class="card">
        <div class="card-image"><img src="../images/sm-dual-combo.jpg" /></div>
        <div class="card-content">s;jadfljflsjflaksdj</div>
      </div>
    </div>
    <div class="index-nav-item col l3 m6 s12">
      <div class="card">
        <div class="card-image"><img src="../images/sm-dual-combo.jpg" /></div>
        <div class="card-content">s;jadfljflsjflaksdj</div>
      </div>
    </div>
    <div class="index-nav-item col l3 m6 s12">
      <div class="card">
        <div class="card-image"><img src="../images/sm-dual-combo.jpg" /></div>
        <div class="card-content">s;jadfljflsjflaksdj</div>
      </div>
    </div>
  </article>
</section>