<nav id="navigation">
  <div>
    <a class="nav-logo" href="/">Stylish Function</a>
    <ul class="nav-link-container">
      <li><a href="/seating">Seating</a></li>
      <li><a href="/storage">Storage</a></li>
      <li><a href="/tables">Table</a></li>
    </ul>
  </div>
</nav>