<nav id="navigation">
  <div class="container">
    <a class="nav-logo" href="/">Stylish Function</a>
    <ul class="desktop-nav">
      <li><a href="/product-guide">product guide</a></li>
      <li><a href="/inspiration">inspiration guide</a></li>
      <li><a href="/storage">resources</a></li>
    </ul>
  </div>
</nav>