<div class="container" >
  <div id="lead-nav">
    <a href="/" class="brand-logo">Stylish Function</a>
    <a href="#" data-target="mobile-demo" class="nav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
  </div>
<div>