<nav id="navigation">
  <div>
    <a class="nav-logo" href="/">Stylish Function</a>
    <ul class="desktop-nav">
      <li><a href="/seating">Seating</a></li>
      <li><a href="/storage">Storage</a></li>
      <li><a href="/tables">Table</a></li>
      <li><a href="/trends">Trends</a></li>
    </ul>
  </div>
</nav>