<nav class="index-navigation">
  <i class="material-icons">menu</i>
  <section class="index-navigation-container container">
    <a class="index-logo" style="height: 100px" href="/"
      ><img
        style="height: 100%; width: 28rem"
        src="../../images/websitelogo.jpg"
        alt=""
      />
    </a>
    <ul class="index-navigation-links">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/contact-us">Contact</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </section>
</nav>
