<nav class="navigation">
  <a class="navigation-logo" href="/">Stylish Function</a>
  <ul class="navigation-link-container">
    <li><a href="/featured">Featured</a></li>
    <li><a href="/seating">Seating</a></li>
    <li><a href="/tables">Tables</a></li>
  </ul>
</nav>