<div class="lead-nav container">
    <a href="/" class="logo">Stylish Function</a>
    <ul>
      <li><a  href="/seating">seating</a></li>
      <li><a  href="/table">tables</a></li>
      <li><a  href="/storage">storage</a></li>
    </ul>
  </div>