<nav class="index-navigation">
  <section class="index-navigation-container">
    <i class="material-icons hide-on-large-only">menu</i>

    <div>
      <a class="logo" href="/">
        <img
          style="height: 100%"
          src="../../../../images/mobile-logo.jpg"
          alt=""
        />
      </a>
    </div>
    <ul class="index-navigation-links hide-on-med-and-down">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/contact-us">Contact</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </section>
</nav>
