<div class="container">
  <div class="lead-nav nav-wrapper">
    <a href="/" class="brand-logo logo">Stylish Function</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul  class="right hide-on-med-and-down">
      <li style="color: blue;"><a  href="/seating">seating</a></li>
      <li><a  href="/table">tables</a></li>
      <li><a  href="/storage">storage</a></li>
    </ul>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a  href="/seating">tables</a></li>
    <li><a  href="/table">tables</a></li>
    <li><a  href="/storage">storage</a></li>
  </ul>
</div>