<nav id="navigation">
  <div>
    <a class="nav-logo" href="/">Stylish Function</a>
    <ul class="desktop-nav">
      <li><a href="/category/seating">Seating</a></li>
      <li><a href="/category/storage">Storage</a></li>
      <li><a href="/category/tables">Table</a></li>
    </ul>
  </div>
</nav>