<div id="lead-nav">
  <div>
    <a href="/" class="brand-logo">Stylish Function</a>
    <a href="#" data-target="mobile-demo" class="nav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
  </div>
  <ul class="desktop-nav">
    <li><a href="/seating">seating</a></li>
    <li><a href="/table">tables</a></li>
    <li><a href="/storage">storage</a></li>
  </ul>
</div>

