<nav class="index-navigation">
  <i class="material-icons">menu</i>
  <section class="index-navigation-container container">
    <a class="index-logo" href="/">Stylish Function</a>
    <ul class="index-navigation-links">
      <li><a href="/category/seating">Seating</a></li>
      <li><a href="/category/tables">Tables</a></li>
      <li><a href="/featured/articles">Featured</a></li>
    </ul>
  </section>
</nav>