<article class="description-section">
  <section class="description-article-container">
    <!-- <h1 class="description-title">
      Minimalist, Functionality, and Modular
    </h1> -->
    <p class="description-paragraph">
      furniture organization and adaptability for alternative styles to better fit
      the needs for your space.
    </p>
  </section>
</article>