<section class="description-section">
  <article class="description-article-container">
    <h1 class="description-title">
      Indoor furniture organization and adaptability.
    </h1>
    <p class="description-paragraph">
      Minimalist, Functionality, and Modular style to better fit
      the needs of different size living spaces for better options
      than standard traditional bulky furniture.
    </p>
  </article>
</section>