<article class="description-section">
  <section class="description-article-container">
    <h1 class="description-title">
      Indoor furniture organization and adaptability.
    </h1>
    <p class="description-paragraph">
      Minimalist, Functionality, and Modular alternative styles to better fit
      the needs of different size living spaces for better options
      than standard traditional bulky furniture.
    </p>
  </section>
  <section class="description-items-container">
    <div class="description-item">
      <h5>Alt Seating</h5>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, sequi?</p>
    </div>
    <div class="description-item">
      <h5>Modular Sofa</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, asperiores.</p>
    </div>
    <div class="description-item">
      <h5>Tables</h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, id?</p>
    </div>
  </section>
</article>