<select class="browser-default" name="" id="">
    <option value="" disabled selected>Sort By:</option>
    <option value="">Relevance</option>
    <option value="">Newest</option>
    <option value="">Price: Low to High</option>
    <option value="">Price: High to Low</option>
  </select>