<section class="index-trending-section">
    <h1 class="index-trending-title">Trends for creativity and space inspiration</h1>
    <div class="index-trending-container">
        <div class="index-trending-article-container">
            <h6 style="background: red; color: white;">Trends</h6>
            <article class="index-trending-article article1">
                <h4 class="card-title">sofa bedslkjdfakjd</h4>
                <h4 class="card-title">sofa bedslkjdfakjd</h4>
                <h4 class="card-title">sofa bedslkjdfakjd</h4>
                <h4 class="card-title">sofa bedslkjdfakjd</h4>
            </article>
        </div>   
    </div>
</section>