<section style="background: #f4f4f4;">
    <h1>Trending</h1>
    <div class="row">
 <div style="max-width: 90%; margin: auto">
   <article>
        
        <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="../images/dual-chair-combo.jpg" />
            </div>
        </div>
     </div>
 
    </article>
     <article>
      
       <div class="col s12 m6 l4">
       <div class="card">
           <div class="card-image">
               <img src="../images/dual-chair-combo.jpg" />
           </div>
       </div>
    </div>

   </article>
    <article>
       
       <div class="col s12 m6 l4">
       <div class="card">
           <div class="card-image">
               <img src="../images/dual-chair-combo.jpg" />
           </div>
       </div>
    </div>

   </article>
</div>
</div>
</section> 