<section id="index-trending-section style="background: #f4f4f4;">
    <h1 class="index-trending-title">Trending</h1>
    <div class="row">
        <div class="index-trending-container" style="max-width: 90%; margin: auto">
            <article class="index-trending-article article1">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="../images/dual-chair-combo.jpg" />
                        </div>
                    </div>
                </div>
            </article>
            <article class="index-trending-article article2">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="../images/dual-chair-combo.jpg" />
                        </div>
                    </div>
                </div>
            </article>
            <article class="index-trending-article article3">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="../images/dual-chair-combo.jpg" />
                        </div>
                    </div>
                </div>
            </article>
            <article class="index-trending-article article4">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="../images/dual-chair-combo.jpg" />
                        </div>
                    </div>
                </div>
            </article>                              
        </div>
    </div>
</section> 