<section class="index-trending-section">
    <h1 class="index-trending-title">Trends for creativity and space inspiration</h1>
    <div class="index-trending-container">
        <div class="article-down">
            <article class="index-trending-article article1">
                <div class="card">
                    <div class="card-image">
                        <img src="../images/dual-chair-combo.jpg" />
                    </div>
                    <h4 class="card-title">sofa beds</h4>
                </div>
            </article>
            <article class="index-trending-article article2">
                <div class="card">
                    <div class="card-image">
                        <img src="../images/dual-chair-combo.jpg" />
                    </div>
                    <h4 class="card-title">alternative seating</h4>
                </div>
            </article>
            <article class="index-trending-article article3">
                <div class="card">
                    <div class="card-image">
                        <img src="../images/dual-chair-combo.jpg" />
                    </div>
                    <h4 class="card-title">modular sofa</h4>
                </div>
            </article>
            <article class="index-trending-article article4">
                <div class="card">
                    <div class="card-image">
                        <img src="../images/dual-chair-combo.jpg" />
                    </div>
                    <h4 class="card-title">storage solutions</h4>
                </div>
            </article>
        </div>
        <div class="one">jfa;lsfjlfjlsd;j</div>
    </div>
</section>