<% include ../../partials/header %>

<section>
  <div class="form-container">
    <h1>Edit <%=product.title%></h1>
    <form action="/admin/products/seating/<%= product._id %>?_method=PUT" method="POST"
      style="display: flex; flex-direction: column;">
      <%- include("../../admin/editForm") %>
    </form>
  </div>
</section>



<% include ../../partials/footer %>