<nav class="dash-board-nav">
  <section class="dash-board-container">
    <nav class="dash-board-nav">
      <ul>
        <li class="dash-board-nav-items">
          <a href="/admin/products/seating/new">Create New Product</a>
        </li>
        <li class="dash-board-nav-items">
          <a href="/admin/products/tables">Tables</a>
        </li>
        <li class="dash-board-nav-items">
          <a href="/admin/messages">Messages</a>
        </li>
      </ul>
    </nav>
  </section>
</nav>