<% include ../../partials/header %>
<section>
  <div class="form-container">
    <h1>New Seating Product</h1>
    <form action="/admin/products/seating" method="POST">
      <%- include("../../admin/_createForm") %>
      <div class="product-form-button-container">
        <button type="submit" class="form-button submit btn">Submit</button>
        <a href="/admin/products/seating" class="btn form-button">Back</a>
      </div>
    </form>
  </div>
</section>