<% include ../../partials/header %>


<section class="index-container">
  <% include ../../admin/admin-nav %>
  <div class="container">
    <div
      style="padding-bottom: 1rem 0; margin-bottom: 1rem; display: flex; justify-content: space-around; align-items: center;">
      <h1 style="margin: 1rem 0">Seating Products</h1>
    </div>
    <section>
      <div
        style="background: #d3d3d3; padding: 1rem; display: flex; margin: 0 auto; align-items: center; justify-content: space-around; align-items: center"">
      <div>
        <span>Filter</span>
        <div>
          <a href=" #">modern</a>
      </div>
  </div>
  <a href="/admin/products/seating/new">Create New Product</a>
  <input type="search" placeholder="search" style="width: 40%" />
  </div>
</section>
</div>
</section>