#article-index-section {
  h1 {
    text-align: center;
    font-size: 4rem;
    padding: 8px 0;
    background: $go-button;
    color: $white;
  }
}

.article-card {
  border-bottom: 1px solid $border;
  &:last-child {
    border-bottom: none;
  }
  .card {
    display: flex;
    @include no-box-shadow;
    margin: 1rem 0;
    .card-image {
      width: 80%;
      img {
        width: 100%;
      }
    }
    .card-content {
      padding: 0 1rem;
      .card-title {
        font-size: 3rem;
        margin: 0 0 1rem 0;
      }
    }
  }
}
