.article-section {
  h1 {
    @include text-align(center);
    padding: 1rem 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  .article-container {
    .card {
      @include flex();
      .card-image {
        height: 12.5em;
        width: 100%;
        img {
          @include images(100%, 100%, cover);
        }
      }
      .card-content {
        padding: 0;
        margin-left: 1rem;
        .card-title {
          @include text-align(justify);
          padding-bottom: 0.5rem;
          margin: 0;
          a {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
