.article-section {
  h1 {
    @include text-align(center);
    padding: 1rem 0;
    background-color: #333;
    color: $white;
    max-width: 100%;
    font-size: 4rem;
  }

  .article-container {
    margin-bottom: 2rem;
    .card {
      @include flex();
      padding: 0;
      margin: 0;
      .card-image {
        height: 250px;
        width: 100%;
        img {
          @include images(100%, 100%, cover);
        }
      }
      .card-content {
        padding: 0 2rem;
        .card-title {
          @include text-align(justify);
          margin: 0;
          h3 {
            margin: 0;
            a {
              font-size: 2.5rem;
            }
          }
        }
        .article-description {
          padding: 0.75rem 0;
        }
      }
    }
  }
}
