.index-container {
	display: flex;
}

.product-container {
	h1 {
		font-size: 3.2rem;
		margin: 1rem 0;
		text-transform: capitalize;
	}
	.product-index {
		display: flex;
		justify-content: space-evenly;
		background: cyan;
		align-items: center;
		margin-bottom: 1rem;
		input[type="text"] {
			width: 20%;
			padding: 0 0.5rem;
		}
	}
}

.filter-section {
	display: flex;
	justify-content: space-between;
}
