.contact-us {
	display: flex;
}
.contact-page {
	max-width: 50%;
	margin: 1rem auto;
	padding: 2rem;
	.contact-header {
		padding: 1rem 2rem;
		.contact-title {
			margin: 0;
			padding-bottom: 0.5rem;
			font-size: 3.2rem;
			text-align: center;
			color: #333;
		}
	}

	.contact-form {
		@include flex-direction-column;
		.product-input {
			margin-bottom: 1rem;
			padding: 0.4rem 0.7rem;
		}
		label {
			font-size: 1rem;
		}
		label:first-child {
			margin-top: 1rem;
		}
		textarea {
			min-height: 6rem;
			max-height: 10rem;
			resize: vertical;
		}
		.btn-submit {
			font-size: 1rem;
		}
	}
}
