.form-container {
	display: flex;
	flex-direction: column;
	padding: 0 0 2rem 0;
	h1 {
		margin: 1rem;
		font-size: 3.2rem;
		text-align: center;
	}
	form {
		width: 70%;
		margin: 0 auto;
		.product-input {
			padding: 1rem;
			height: 2px;
			border-radius: 0.2rem;
		}
		.contact-form-buttons {
			margin-top: 0;
			.submit {
				margin-right: 0.5rem;
			}
		}
		label {
			font-size: 1rem;
		}
		textarea {
			min-height: 10rem;
			resize: none;
		}
	}
}
