.admin-login {
	height: 100vh;
}

.admin-login-form {
	padding: 1rem;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h1 {
		background: lightgray;
		width: 70%;
		text-align: center;
		padding: 1rem 0;
		margin: 0;
	}
	form {
		width: 70%;
		padding: 1rem 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		input[type="text"],
		input[type="password"] {
			width: 100%;
			display: inline-block;
		}
		label {
			font-size: 1rem;
			margin-top: 1rem;
		}
		button {
			display: inline-block;
			width: 70%;
			margin: 1rem 15%;
		}
	}
}
