form {
  width: 55%;
  margin: auto;
  h1 {
    text-align: center;
  }
}

.article-section,
.product-section {
  @include flex-direction-column;
  label {
    font-size: 1rem;
    color: black;
  }
  textarea {
    resize: none;
    height: 8rem;
    padding: 8px;
  }
  input {
    padding: 8px;
  }
}

.button-container {
  @include flex-center;
  margin-bottom: 2rem;
  button,
  a {
    display: inline-block;
    width: 20%;
  }
  button {
    margin: 0 1rem 0 0;
  }
}
.article-section {
  border-bottom: 6px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.form-field {
  margin: 0 0 1rem 0;
}

.admin-login {
  height: 100vh;
}

.admin-login-form {
  padding: 1rem;
  height: 100%;
  @include flex-direction-column;
  justify-content: center;
  align-items: center;
  h1 {
    background: lightgray;
    width: 70%;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
  }
  form {
    width: 70%;
    padding: 1rem 3rem;
    @include flex-direction-column;
    justify-content: center;
    input[type="text"],
    input[type="password"] {
      width: 100%;
      display: inline-block;
    }
    label {
      font-size: 1rem;
      margin-top: 1rem;
    }
    button {
      display: inline-block;
      width: 70%;
      margin: 1rem 15%;
    }
  }
}
