.display-header {
	background: #f6f9fc;
	position: relative;
}
.display-header-container {
	display: flex;

	h1 {
		@include flex-direction-column;
		color: #333;
		width: 90%;
		min-height: 50vh;
		margin: 0 auto;
		padding: 2rem;
		margin: 1rem;
	}
}
