.index-navigation {
	position: relative;
	height: 100%;
	box-shadow: none;
	background-color: hsl(200, 100%, 50%);
	i.material-icons {
		display: inline-block;
		min-height: 100%;
		@include flex-center;
		position: absolute;
		top: 0;
		left: 1rem;
		&:hover {
			cursor: pointer;
		}
	}
	ul li a {
		padding: 6px 15px;
		font-size: 1.1rem;
		display: inline-block;
	}
}
.index-navigation-container {
	display: flex;
	justify-content: space-between;
	.index-logo {
		margin: 0;
		font-size: 2.5rem;
	}
}
