.display-header {
	background: hsl(260, 100%, 40%);
	position: relative;
}
.display-header-container {
	display: flex;
	background: url("../images/blue-chair-med.jpg") no-repeat;
	background-size: 40%;
	background-position: right;

	h1 {
		display: flex;
		flex-direction: column;
		color: #fff;
		width: 70%;
		margin: 0 auto;
		padding: 2rem;
		margin: 1rem;
	}
}
