.display-header {
	background: hsl(200, 100%, 50%);
	position: relative;
}
.display-header-container {
	display: flex;
	background: url("../images/blue-chair-med.jpg") no-repeat;
	background-size: 40%;
	background-position: right;

	h1 {
		@include flex-direction-column;
		color: #fff;
		width: 70%;
		margin: 0 auto;
		padding: 2rem;
		margin: 1rem;
	}
}
