.page-intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	border-bottom: $border;
	aside {
		display: flex;
		.filter {
			margin-right: 2rem;
			.filter-title {
				margin: 0;
				font-size: 1.1rem;
				@include flex-center;
				flex-direction: row;
				.arrow-up {
					display: none;
				}
			}
			div {
				@include flex-direction-column;
				display: none;
			}
		}
	}
}
.card {
	.purchase-information {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: $text-capitalize;
		padding: 1rem;
		aside {
			font-size: 1rem;
			word-wrap: break-word;
		}
		.card-title {
			font-size: 1.3rem;
		}
	}
}
