@media screen and (max-width: 600px) {
  .index-container {
    .filter-search {
      @include flex-direction-column;
      .article-back {
        margin: 0 0 1rem 0;
      }
      input {
        width: 100%;
        margin: 0 0 1rem 0;
        text-align: center;
        padding: 8px 6px;
      }
    }
  }
  .article-container {
    .card {
      p {
        text-align: center;
      }
    }
  }
}
