.message-page {
  @include flex;
}

.message-center-header {
  max-height: 100vh;
  margin: 1.5rem auto;
  .message-center-container {
    @include flex-between;
    h1 {
      margin: 0;
      width: 100%;
      text-align: center;
    }

    .message-filter-container {
      @include flex-direction-column;
      justify-content: center;
    }
    .input-field {
      width: 20%;
      margin: 0;
    }
  }
}

.collection {
  width: 100%;
  border: none;
  &:hover {
    button {
      display: block;
    }
  }
  .delete-container {
    outline: 1px solid black;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 20px;
    label {
      span {
        color: $white;
      }
    }

    input {
      width: 50%;
      align-self: center;
    }
    button {
      background: none;
      color: $nav-text;
      box-shadow: none;
    }
  }
  form {
    button {
      border: 0;
      font-size: 1.75rem;
      background: none;
      @include no-box-shadow;
      display: none;
      color: $go-button;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .collection-item {
    @include flex-between;
    &:last-child {
      border-bottom: 1px solid #26a69a;
    }
    .collection-item-info {
      width: 100%;
      @include flex-center;
      .collection-group {
        width: 100%;
      }
      form {
        button {
          padding-right: 15px;
          color: black;
        }
      }
    }
  }
}

// contact show page section
.message-details {
  padding: 2rem;
  height: 100vh;
  .collection-group_date {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    b {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    @include flex-direction-column;
    .message-label {
      display: inline-block;
      max-width: 15%;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      text-transform: $text-capitalize;
      font-weight: 700;
    }
  }
  .message-body {
    padding: 8px 0;
  }
  .message-showpage-buttons {
    @include flex-center;
    padding: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    a {
      display: inline-block;
    }
  }
}

.message-button-container {
  @include flex;
  align-items: center;
  padding: 10px;
  h1 {
    margin: 0;
    width: 100%;
    padding: 0 0 6px 0;
    text-align: center;
  }

  form {
    button {
      color: $nav-text;
      cursor: pointer;
    }
  }
}
h2 {
  margin: 1rem 0;
}
.message-subject {
  @include flex-center;
  border-top: 1px solid black;
  padding: 6px;
}
