.dash-board-nav {
	width: 15%;
	height: 100vh;
	padding-top: 1rem;
}

.dash-board-container {
	height: 100%;
}

.dash-board-nav-items {
	width: 100%;
	text-align: center;
}

.dash-board-nav-items i.material-icons {
	display: inline-block;
	font-size: 1rem;
	padding: 0.5rem;
}
