.dash-board-nav {
	width: 15%;
	height: 100vh;
	padding-top: 1rem;
	line-height: 3rem;
	position: sticky;
	top: 0;
	left: 0;

	.dash-board-container {
		height: 100%;
		width: 100%;
		h4 {
			text-align: center;
		}
	}
}

.product-menu {
	display: inline-block;
	display: flex;
	align-items: center;
}

.product-menu-items {
	display: flex;
	flex-direction: column;
}

.dash-board-container > div {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
#too {
	margin: 0;
	line-height: 1rem;
}
.dash-board-container div a:hover {
	text-decoration: underline;
}

.dash-board-nav-items {
	width: 100%;
	text-align: center;
}

span i.material-icons {
	display: inline-block;
	&:hover {
		text-decoration: none;
	}
}
