@media screen and (min-width: 0px) and (max-width: $break-small) {
  @import "main-index-mobile";
  .filter-search {
    @include flex-direction-column;
    & input {
      width: 100%;
      margin: 0 0 1rem 0;
    }
    input,
    a {
      height: 40px;
    }
    div {
      @include flex-center;
      .go-button {
        width: 50%;
      }
    }
  }
  .form-group {
    h1 {
      font-size: 2.5rem;
    }
    width: 100%;
    .button-container {
      @include flex-center;
      & .go-button,
      .static-button {
        width: 100%;
      }
      .go-button {
        margin: 0 0.5rem 0 0;
      }
      .static-button {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  .article-container {
    .card {
      .card-title {
        font-size: 2rem;
      }
      p {
        text-align: center;
        font-size: 1.1rem;
      }
      .button-container {
        padding: 10px;
        .go-button,
        .delete-button {
          width: 100%;
        }
        .go-button {
          margin: 0 0 1rem 0;
        }
      }
    }
  }

  .message-center-header {
    .title-container {
      @include flex-direction-column;
      padding: 0;
      h1 {
        margin-bottom: 1rem;
      }
      .input-field {
        width: 70%;
        outline: 1px solid black;
        align-self: center;
      }
    }
    .delete-container {
      margin-top: 1rem;
      input {
        width: 65%;
        padding: 4px;
        margin: 0.5rem 0;
      }
    }
  }

  .message-details {
    h1 {
      padding-bottom: 0.75rem;
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    .message-button-container {
      padding: 0;
    }
    .button-container {
      padding: 0.75rem 0;
      form,
      form button,
      .static-button {
        width: 100%;
        height: 35px;
      }
      form {
        margin-right: 0.5rem;
      }
      .static-button {
        margin-left: 0.5rem;
      }
    }

    .collection-group_date {
      text-align: center;
    }
  }
  .collection-item-info {
    .collection-group_date {
      display: none;
    }
  }
}
