@media screen and (min-width: 0px) and (max-width: 600px) {
  .filter-search {
    @include flex-direction-column;
    & input {
      width: 100%;
      margin: 0 0 1rem 0;
    }
    input,
    a {
      height: 40px;
    }
  }
  .form-group {
    h1 {
      font-size: 2.5rem;
    }
    width: 100%;
    .button-container {
      @include flex-center;
      & .go-button,
      .static-button {
        width: 100%;
      }
      .go-button {
        margin: 0 0.5rem 0 0;
      }
      .static-button {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  .article-container {
    .card {
      .card-title {
        font-size: 2rem;
      }
      p {
        text-align: center;
        font-size: 1.1rem;
      }
      .button-container {
        padding: 10px;
        .go-button,
        .delete-button {
          width: 100%;
        }
        .go-button {
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}
