.product-index {
	display: flex;
	outline: 1px solid black;
	padding: 1rem 0;
	margin-bottom: 1rem;
	justify-content: space-around;
	align-items: center;
	input[type="text"] {
		width: 30%;
	}
	input[placeholder] {
		font-size: 1.2rem;
		text-transform: capitalize;
		padding: 0 1rem;
	}
	.product-filter-section {
		display: flex;
		flex-direction: column;
		span {
			display: inline-block;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
		}
	}
}

.card {
	.btn,
	.card-content {
		font-size: 1.2rem;
		text-transform: capitalize;
	}
	.card-content {
		padding: 1rem;
		display: flex;
		justify-content: space-around;
	}
	.btn {
		width: 90%;
		margin: 0 5% 1rem;
	}
}
