.index-container > .container {
  margin-top: 1rem;
}
.title-container {
  padding: 1rem;
  position: relative;
  h1 {
    margin: 0;
    text-align: center;
  }
  .material-icons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    display: none;
  }
}

.filter-search {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;
  input {
    width: 40%;
    padding: 0.25rem;
    &::placeholder {
      text-align: center;
    }
  }
}

.card {
  .card-image {
    object-fit: contain;
    object-position: center;
    height: 350px;
    img {
      height: 100%;
    }
  }
  .card-content {
    padding: 0.5rem;
    .card-title {
      text-align: center;
      text-transform: capitalize;
    }
    p {
      margin: 0 0 1rem 0;
      padding: 0 0.5rem;
    }
  }
}
