*,
*::before,
*::after,
ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li a {
	color: #333;
	text-transform: $text-capitalize;
}

h1 {
	font-size: 3rem;
}
h4 {
	margin: 0;
}
h4,
.purchase-information span {
	font-size: 1.3rem;
}
.back-btn {
	background-color: $back-button;
}
.back-btn:hover {
	background-color: $back-button-hover;
}
.show-btn {
	background-color: $show-button;
}
.show-btn:hover {
	background-color: $show-button-hover;
}
.index-main-section {
	width: 90%;
	margin: 0 5%;
}

.display-header-title,
.affiliate-disclaimer-container a,
.description-title,
.copyright,
.index-featured-title {
	text-transform: $text-capitalize;
}
