@media screen and (min-width: 601px) and (max-width: 992px) {
  @import "main-index-tablet";
  .card {
    .card-action {
      padding: 0;
    }
    .button-container {
      @include flex;
      width: 100%;
      justify-content: center;
      padding: 10px;
      & .go-button,
      form,
      form button {
        width: 100%;
      }
      .go-button {
        margin: 0 0.5rem 0 0;
      }
      form {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  .form-group {
    width: 100%;
    h1 {
      padding: 10px 0;
      font-size: 3rem;
    }
    & .button-container {
      @include flex-center;
      & .go-button,
      .static-button {
        width: 25%;
      }
      .go-button {
        margin: 0 0.5rem 0 0;
      }
      .static-button {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  // message/contact section
  .message-center-header {
    width: 90%;
  }
  .message-details {
    width: 100%;
    h1 {
      padding-bottom: 0.75rem;
      font-size: 3rem;
    }
    .title-container,
    .message-button-container {
      padding: 0;
    }
    .message-showpage-buttons {
      padding: 0.75rem;
    }

    form,
    .static-button {
      width: 25%;
    }
    form button {
      width: 100%;
    }
    form {
      margin-right: 0.5rem;
    }
  }
  .static-button {
    margin-left: 0.5rem;
  }
  .input-field {
    width: 20%;
  }
}
