$white: #fff;
$nav-text: #333;
$nav-background: #ed8a63;
$text-capitalize: capitalize;
$text-center: center;
$text-uppercase: uppercase;
$aside-background: #ed8a63;
$header-background: #00c2dc;
$aside-text: #ddd;
$border: rgba(0, 0, 0, 0.3);
$back-button: hsl(60, 100%, 30%);
$back-button-hover: hsl(60, 100%, 25%);
$show-button: hsl(200, 100%, 50%);
$show-button-hover: hsl(200, 100%, 40%);

$break-small: 600px;
$break-medium: 900px;
$break-large: 1224px;
$break-xlarge: 1225px;
