$white: #fff;
$nav-text: #333;
$nav-background: #ed8a63;
$text-capitalize: capitalize;
$text-center: center;
$text-uppercase: uppercase;
$aside-background: #3b4045;
$aside-text: #ddd;

$break-small: 600px;
$break-medium: 900px;
$break-large: 1224px