@media screen and (min-width: 1201px) {
  @import "indexNavigationDesktop";
  @import "main-index-desktop";
  @import "index-article-xl-desktop";
  .card {
    .card-action {
      padding: 0;
    }
    .button-container {
      @include flex;
      width: 100%;
      justify-content: center;
      padding: 10px;
      & .go-button,
      form,
      form button {
        width: 100%;
      }
      .go-button {
        margin: 0 0.5rem 0 0;
      }
      form {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  .form-group {
    width: 100%;
    h1 {
      padding: 10px 0;
    }
    .button-container {
      @include flex-center;
      .go-button,
      .static-button {
        width: 25%;
      }
      .go-button {
        margin-right: 0.5rem;
      }
      .static-button {
        margin-left: 0.5rem;
      }
    }
  }

  // contact/message section
  .message-details {
    min-width: 80%;
    h1 {
      padding-bottom: 0.75rem;
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
      text-align: center;
    }
    .title-container,
    .message-button-container {
      padding: 0;
    }
    .message-showpage-buttons {
      padding: 0.75rem;
    }
    form,
    .static-button {
      width: 20%;
    }
    form button {
      width: 100%;
    }
    form {
      margin-right: 0.5rem;
    }
  }
  .static-button {
    margin-left: 0.5rem;
  }
  .delete-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    & > div {
      margin-right: 15px;
    }
  }
}
