@import url("https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px");

:root {
	--white: #fff;
	--text-color: #333;
	--background: #f9f4d9;
	--text-capitalized: capitalize;
	--heading-font-family: "Slabo 27px", serif;
	--content-font-famly: "Montserrat", sans-serif;
	--product-bgColor: #f4f4f4;
	--sub-background-color: #cea889;
	/* header and footer = #89afce || rgb(137, 175, 206) */
	--header-footer-color: #89afce;
}

/* landscape media query */
@media screen and (orientation: landscape) {

    .about-section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section .info-box {
        margin-top: 2rem;
    }

    .about-section ul li {
        text-align: justify;
    }
}

/***********************************
  1025px and up media query
***********************************/
@media screen and (min-width: 1025px) {
    .display-header {
        background: url("../images/xlrg-dual-combo.jpg") no-repeat center/cover;
        height: 75vh;
        outline: 4px red solid;
    }

    .display-header-container {
        width: 100%;
        height: 100%;
        ;

    }


    .display-header-title {
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    .display-header-container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .purchase-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .purchase-information .card-title {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
    }

    .purchase-information .card-price {
        padding-bottom: .5rem;
    }

    .purchase-information .card-title {
        padding-top: .5rem;
    }

    .card .card-content {
        padding: 0;
    }

    .card .card-content .card-title {
        margin-bottom: 0;
        font-size: 1.1rem;
    }

    .about-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter-section,
    .filter {
        display: none;
    }

    .product-features {
        padding-top: 1rem;
    }

    .product-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.3rem;
    }

    .product-aside ul a {
        width: 100%;
        font-size: 1.2rem;
    }

    .contact-form,
    .contact-page p {
        width: 70%;
    }

    .contact-page p {
        margin-bottom: 1rem;
    }

    .form-submitButton {
        width: 50%;
    }

    .footer-nav ul {
        max-width: 50%;
    }
}

/***********************************
  1024px and smaller media query
***********************************/
@media screen and (max-width: 1024px) {
    .display-header {
        background: url("../images/lrg-dual-combo.jpg") no-repeat center center;
    }

    .display-header,
    .display-header-container {
        height: 33.5vh;
    }

    .display-header-container {
        max-width: 100%;
        margin: 0 auto;
    }

    .display-header-title {
        text-align: center;

        max-width: 100%;
        border-bottom: 1px solid #fff;
    }

    .display-header-container p {
        color: #fff;
        font-size: 1.4rem;
        max-width: 60%;
        margin: auto;
    }

    .featured-title {
        text-align: center;
    }

    .product-aside {
        display: none;
    }

    .filter-section {
        max-width: 100%;
        margin: 0 auto;
    }

    .filter {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 0;
        padding: 0;
    }

    .filter-section div {
        align-items: center;
    }

    .filter ul {
        top: 100%;
    }

    .filter ul li {
        padding: .3rem 0;
    }

    .filter ul li a {
        font-size: 1.2rem;
    }

    .category-title {
        padding: .75rem .3rem;
        font-size: 1.4rem;

    }

    .card .card-content {
        padding: 0;
    }

    .row .col.l3 {
        width: 50%;
    }

    .mobile-purchase-button {
        display: none;
    }

    .purchase-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 6px 0;
    }

    .contact-form {
        width: 60%;

    }

    .card {
        padding: 0;
    }

    .purchase-information .card-title {
        font-size: 1.5rem;
    }

    .footer-nav ul {
        width: 70%;
    }
}

/***********************************
 1000px media query
***********************************/
@media screen  and (max-width: 1000px) {
    /* display header */
    .display-header {
        background: url("../images/med-dual-combo.jpg") no-repeat center center;
        height: 50vh;
        min-width: 100%;
    }

    .display-header-container {
        height: auto;
    }

    .display-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display-header-container >div {
        max-width: 80%;
    }

    .display-header-title {
        font-size: 2.5em;
        border-bottom: 1px solid #fff;
    }

    .display-header-container p {
        font-size: 1.3rem;
        max-width: 75%;
        line-height: 1.6rem;
        margin: auto;
        color: #fff;
        padding-top: .5rem;
    }

    .article1 .card,
    .article2 .card {
        justify-content: space-evenly;
    }

    .article1 .card {
        padding-bottom: none;
    }

    .article2 .card {
        padding-top: none;
    }

    .index-trending-article .card .card-image, 
    .index-trending-article .card .card-title {
        width: 100%;
    }

    .index-trending-title {
        font-size: 2.8rem;
    }

    .index-trending-article .card .card-title {
        padding: 1rem;
    }
    /* navigation */
    #navigation {
        height: 128px;
    }

    #navigation>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #navigation .nav-logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
        text-align: center;
    }

    .nav-link-container li a {
        font-size: 1.6rem;
        padding: 0 1.4rem;
    }
    /* about description info section */
    
    .index-info-title {
        margin: 1rem 0 0 0;
        padding-bottom: 1rem;
        line-height: 2.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .index-info-article {
        border-right: none;
    }
/* trending section */
    .index-trending-section {
        display: flex;
        max-width: 90%;
        margin: 0 5% 1rem 5%;
    }
    .index-trending-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid rgba(0,0,0, 0.1);
        border-left: none;
        padding: 1rem;
    }
    .index-trending-article h4 {
        margin: 0 0 2rem 0;
        font-size: 1.5rem;
    }

    .index-trending-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background: #727272;
       color: #fff;
    }


    .contact-page p {
        margin-bottom: 1rem;
    }

    .contact-form {
        max-width: 70%;
    }

    .disclaimer-paragraph {
        max-width: 100%;
        padding: 1rem;
    }

    .card .card-content {
        padding: 4px;
    }

    .card .card-content .card-title {
        margin-bottom: 0;
    }

    .purchase-information {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .purchase-information .card-title a {
        font-size: 1.6rem;
    }

    .purchase-information .card-price {
        font-size: 1.2rem;
    }

    .product-aside {
        display: none;
    }

    .contact-form {
        width: 80%;
        margin: auto;
    }

    .filter-section {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .filter-section div {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .filter {
        width: 90%;
    }

    .filter ul {
        top: 100%;
    }

    .featured-title {
        padding-top: 1rem;
        text-align: center;
    }

    .page-intro {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .footer-nav ul {
        width: 70%;
    }

}

/***********************************
  600px and smaller media query
***********************************/
 @media screen and (max-width: 600px) {
     /* index page */
    .row .col.l3 {
        width: 100%;
        padding: 0;
    }

    .display-header {
        background: url("../images/sm-dual-combo.jpg") no-repeat center center;
    }

    .display-header,
    .display-header-container {
        height: 40vh;
        max-width: 100%;
    }
    
    .display-header-title {
        display: flex;
        font-size: 1.9rem;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        letter-spacing: 1px;
        border-bottom: none;
    }

    .display-header-container p {
        display: none;
    }
    /* naviagtion */
    #navigation {
        height: 112px;
    }

    #navigation>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    
    .nav-link-container a {
        font-size: 1.3rem;
        padding: 0 1rem;
    }
/* description  */
    .index-info-title, 
    .index-trending-title {
      font-size: 2rem;  
    }

    .index-info-title {
        margin: 1rem 0 0 0;
        padding-bottom: 1rem;
        line-height: 2.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .index-info-article-container  {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 1rem;
    }

    /* trending section   */
    .index-trending-section {
        display: flex;
        flex-direction: column;
    }

    .index-trending-container {
        width: 90%;
    }

    .index-trending-title {
        border-top: 1px solid rgba(0,0,0,0.1);
        width: 90%;
        margin: auto;
        font-size: 2rem;
        color: #333;
    }

    .index-trending-article-container, 
    .index-trending-article .card {
        display: flex;
    }

    .index-trending-article-container {
        flex-wrap: wrap;
    }

    .index-info-article-container > .index-info-article, 
    .index-trending-container {
        margin-top: 0;
    }


    .index-trending-article .card {
        display: flex;
        margin-bottom: 1rem;
        flex-direction: column ;
        flex-wrap: wrap;
        width: 100%;
        background: #fff;
        padding: 0;
        border-bottom: 0;
    }
    
    .index-trending-article .card .card-image {
        width: 100%;
    }

    .index-trending-article .card h4 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .index-info-article {
        border-right: none;
    }

    .featured-title {
        text-align: center;
    }

    .filter-section {
        border-top: none;
        max-width: 100%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter {
        margin: 0;
        min-width: 100%;
    }

    .filter ul {
        min-width: 100%;
        top: 100%;
        left: 0;
    }

    .card .card-content {
        padding: 4px;
    }

    .card .card-content .card-title {
        margin-bottom: 0;
    }

    .category-filter {
        margin-bottom: 1rem;
    }

    .categories,
    .price {
        margin-top: 1rem;
    }

    .about-info {
        display: flex;
        flex-direction: column;
    }

    article p,
    .content-text {
        text-align: center;
    }

    .disclaimer-paragraph {
        max-width: 90%;
        font-size: 1rem;
        padding-right: 0;
    }

    .page-intro {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }


    .featured .card-title {
        font-size: 1.7rem;
    }

    .main-section .sub-images {
        margin-top: .5rem;
    }

    .main-section .sub-images img:first-child {
        margin-left: 0;
    }

    .purchase-information .card-title,
    .purchase-information .card-price {
        padding: 0;
    }

    .purchase-information .card-title {
        font-size: 1.6rem;
    }

    .purchase-information .card-price {
        font-size: 1.2rem;
    }

    .product-aside {
        display: none;
    }

    .contact-form {
        width: 100%;
    }

    .footer-nav ul {
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: start;
        align-items: start;
    }

    .footer-items {
        text-align: left;
        display: block;
        width: 100%;
    }

    .footer-nav ul li a {
        padding: 8px 14px;
    }

    .footer-items:hover {
        text-decoration: underline;
    }

} 