/* landscape media query */
@media screen and (orientation: landscape) {

    #display-header,
    .header-info {
        min-height: 70vh;
    }

    #about-section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-section .info-box {
        margin-top: 2rem;
    }

    #about-section ul li {
        text-align: justify;
    }
}

@media screen and (min-width: 1025px) {
    #display-header {
        background: url("../images/functionalSpace.jpeg") no-repeat center/cover;
    }

    #display-header,
    .header-info {
        min-height: 10vh;
    }

    .header-info {
        width: 100%;
    }

    .purchase-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .purchase-information .card-title {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
    }

    .purchase-information .card-price {
        font-size: 1rem;
        padding-bottom: .5rem;
    }

    .purchase-information .card-title {
        padding-top: .5rem;
    }

    .card .card-content {
        padding: 12px;
    }

    #filter-section,
    .filter {
        display: none;
    }

    #product-features {
        padding-top: 1rem;
    }

    .product-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.3rem;
    }

    .product-aside ul a {
        width: 100%;
        font-size: 1.2rem;
    }

    #aside-filter,
    #aside-categories {
        display: block;
    }

}

@media screen and (max-width: 1024px) {
    #display-header {
        background: url("../images/functionalSpace.jpeg") no-repeat center center;
    }

    #display-header,
    .header-info {
        height: 27vh;
    }

    .header-info {
        height: 22vh;
        max-width: 100%;
        margin: 0 auto;
    }

    .header-info h2 {
        text-align: center;
        font-size: 2.5rem;
        max-width: 80%;
    }

    .product-aside {
        display: none;
    }

    #filter-section {
        max-width: 70%;
        margin: 0 auto;
    }

    .filter {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 0;
    }

    #filter-section div {
        justify-content: space-evenly;
        align-items: center;
    }

    .filter ul {
        top: 100%;
    }

    .filter ul li {
        padding: .3rem 0;
    }

    .filter ul li a {
        font-size: 1.2rem;
    }

    .category-title {
        padding: .3rem;
        font-size: 1.2rem;
    }

    .mobile-purchase-button {
        display: none;
    }

    .purchase-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 6px 0;
    }

    .card {
        padding: 0;
    }

    .purchase-information .card-title {
        font-size: 1.5rem;
    }
}

/* media queries */
@media screen and (min-width: 601px) and (max-width: 990px) {
    #display-header {
        background: url("../images/functionalSpace.jpeg") no-repeat center center;
    }

    #display-header,
    .header-info {
        height: 34vh;
    }

    #navigation {
        height: 128px;
    }

    #navigation>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #navigation .nav-logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
        text-align: center;
    }


    .desktop-nav a {
        font-size: 1.2rem;
    }

    .header-info div {
        margin: 0 auto;
        width: 95%;
    }

    .header-info h2 {
        font-size: 2.3rem;
        max-width: 90%;
    }

    .purchase-information {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .purchase-information .card-title a {
        font-size: 1.6rem;
    }

    .purchase-information .card-price {
        font-size: 1.2rem;
    }

    .product-aside {
        display: none;
    }

    #filter-section {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #filter-section div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .filter {
        width: 30%;
    }

    .filter ul {
        top: 100%;
    }

    #featured h1 {
        padding-top: 1rem;
    }

    .desk-top-purchase-button {
        display: none;
    }

    .page-intro {
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

}

@media screen and (max-width: 600px) {
    #display-header {
        background: url("../images/functionalSpace.jpeg") no-repeat center center;
        width: 100%;
        object-fit: cover;
    }

    #display-header,
    .header-info {
        height: 40vh;
    }

    #navigation {
        height: 112px;
    }

    #navigation>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .desktop-nav li a {
        font-size: 1rem;
    }

    .header-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-info h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        line-height: 3rem;
        width: 70%;
        padding-left: 18px;
        margin: 1rem auto;
        letter-spacing: 1px;
    }

    #filter-section {
        border-top: none;
        max-width: 70%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter {
        margin: 0;
        min-width: 100%;
    }

    .filter ul {
        top: 100%;
        display: none;
    }

    .category-filter {
        margin-bottom: 1rem;
    }

    .categories,
    .price {
        margin-top: 1rem;
    }

    article p,
    .content-text {
        text-align: center;
    }

    .page-intro {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .description-info .icons {
        display: none;
    }

    #featured .card-title {
        font-size: 1.7rem;
    }

    #main-section .sub-images {
        margin-top: .5rem;
    }

    #main-section .sub-images img:first-child {
        margin-left: 0;
    }

    .purchase-information .card-title,
    .purchase-information .card-price {
        padding: 0;
    }

    .purchase-information .card-title {
        font-size: 1.6rem;
    }

    .purchase-information .card-price {
        font-size: 1.2rem;
    }

    .product-aside {
        display: none;
    }

    .footer-nav ul {
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: start;
        align-items: start;
    }

    .footer-items {
        text-align: left;
        display: block;
        width: 100%;
    }

    .footer-nav ul li a {
        padding: 8px 14px;
    }

    .footer-items:hover {
        text-decoration: underline;
    }

    .desk-top-purchase-button {
        display: none;
    }

    .mobile-purchase-button {
        display: block;
    }

}

@media screen and (max-width: 360px) {
    #display-header {
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navigation>div {
        height: 100%;
        width: 100%;
    }

    .header-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .header-info h2 {
        font-size: 2rem;
        width: 80%;
        padding-left: 18px;
        margin: 0 auto;
    }

    .desktop-nav {
        height: 100%;
    }

    .desktop-nav li a {
        font-size: 1rem;
        padding: 0 9px;
    }

    #filter-section {
        margin: 1rem auto;
        max-width: 100%;
    }

    .category-filter {
        margin-bottom: 1rem;
    }

    .filter {
        margin: 0;
        min-width: 70%;
    }


    .categories,
    .price {
        margin-top: 1rem;
    }

    .filter ul {
        min-width: 100%;
        top: 100%;
        left: 0;
    }

    #filter-section div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .category-title {
        width: 100%;
    }

    .purchase-information .card-title,
    .purchase-information .card-price {
        padding: 0;
    }

    .desk-top-purchase-button {
        display: none;
    }

    .mobile-purchase-button {
        display: block;
    }

}