@import url("https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px");

:root {
	--white: #fff;
	--black: #000;
	--background: #f9f4d9;
	--text-capitalized: capitalize;
	--heading-font-family: "Slabo 27px", serif;
	--content-font-famly: "Montserrat", sans-serif;
	--product-bgColor: #f4f4f4;
	--sub-background-color: #cea889;
	/* header and footer = #89afce || rgb(137, 175, 206) */
	--header-footer-color: #89afce;
}

body {
	overflow: scroll;
}

.secondary-nav {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.secondary-nav a {
	padding: 0 8px;
	font-size: 1.2rem;
	border-right: 1px solid #000;
}

.secondary-nav a:hover {
	text-decoration: underline;
}

.secondary-nav a:last-child {
	border-right: 0;
	padding-right: 0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
	transition: all .3s ease-in;
}

a:hover {
	color: var(--header-footer-color);
	text-shadow: .1px .1px .1px black;
}

/* toggle class */
.filter .inActive {
	display: none;
}

.filter .active {
	display: block;
}

.pagination {
	padding: 15px;
}

#featured h3,
#about-section .card h5,
#about-section h4,
.card .card-title,
.copyright,
a {
	text-transform: var(--text-capitalized);
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.card-title {
	font-family: var(--heading-font-family);
}

h3 {
	margin: 0;
}

.header-info h2,
.display-title a,
.page-intro aside h6,
.product-aside p,
.product-aside a:hover,
.category-title,
.footer-nav a,
.copyright {
	color: #fff;
}

.card {
	box-shadow: none;
	outline: none;
	border: none;

}

/* .card-title a {
	font-size: 2rem;
}

.card-price {
	font-size: 1.5rem;
} */

.card-content p {
	font-size: 1.1rem;
	padding: 0 8px;
}

.logo {
	font-size: 2.5rem;
	font-family: var(--heading-font);
}

.large-sub-pictures img,
.mobile-sub-pictures img {
	width: 11%;
}

/********************* 
	article section 
**********************/
.about-info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	text-align: center;
	background: #333;
}

.about-info,
.about-info p {
	font-family: var(--content-font-family);
	font-size: 1.2rem;
	text-transform: none;
}

.about-info .disclaimer-paragraph {
	padding-right: 10px;
}

.about-info .disclaimer-paragraph,
.about-info a {
	color: #fff;
}

.about-info a:hover {
	text-decoration: underline;
}

/********************* 
	product features 
**********************/
#product-features {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#product-features {
	position: relative;
}

#product-features .card-image {
	opacity: 0.8;
	transition: opacity 0.3s ease-in;
}

#product-features .card-image:hover {
	opacity: 1;
}


.product-card {
	position: relative;
}

/********************* 
	page intro 
**********************/
.page-intro {
	margin: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 1rem;
}

.storage-title {
	padding-bottom: 1rem;
}

.page-intro aside {
	margin-top: 3rem;
}

.page-intro aside h6 {
	text-align: center;
	font-size: 1.5rem;
	text-transform: capitalize;
	padding: 0.5rem 0;
	width: 70%;
	background: rgba(0, 0, 0, 0.4);
	margin-bottom: 0;
	margin: auto;
}

.page-intro h3,
.page-intro .secondary-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

/********************* 
	main navigation 
**********************/
#navigation {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 3;
}

#navigation>div {
	display: flex;
	justify-content: space-between;
	max-width: 90%;
	margin: 0 auto;
}

#navigation .nav-logo {
	font-size: 2.5rem;
}

.desktop-nav a {
	font-size: 1.2rem;
}

#navigation .nav-logo,
.desktop-nav a {
	color: #fff;
}

#navigation,
.footer-nav {
	background: var(--header-footer-color);
}

.footer-nav {
	margin-top: 1.6rem;
}

/********************* 
	header section
**********************/
#display-header {
	height: 75vh;
	width: 100%;
	object-fit: fill;
	position: relative;
}

#display-header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.display-title {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 1rem;
	font-size: 3rem;
}

.display-title a {
	position: relative;
	z-index: 2;
}

.header-info {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-info h2 {
	margin: 0 auto;
	width: 100%;
	padding: 8px;
	font-size: 3rem;
	text-align: center;
	text-shadow: 2px 2px #000;
	border: none;
	text-transform: uppercase;
}

.header-info h2 span {
	color: rgb(211, 211, 17);
}

.header-info p {
	font-size: 2rem;
}

/********************* 
	featured section
**********************/
#featured h1 {
	width: 100%;
	padding: 1rem 0;
	margin: 0;
	font-size: 3.2rem;
	text-align: center;
	color: var(--header-footer-color);
	text-shadow: 1px 1px .5px black;
	text-transform: var(--text-capitalized);
}

#featured>div {
	max-width: 90%;
	margin-bottom: 0;
}

#featured .card {
	border: none;
}

#featured .card-image {
	height: 18rem;
}

#featured .card-image img {
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
	transition: opacity 0.7s ease-in-out;
}

#featured .card-image img:hover {
	opacity: 1;
	cursor: pointer;
}

#featured .card-title {
	font-size: 1.5rem;
}

/********************* 
mobile filter section
**********************/
.filter {
	max-width: 40%;
	position: relative;
}

.filter>ul {
	position: absolute;
	min-width: 100%;
	z-index: 1;
	top: 100%;
	left: 0;
}

.filter ul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
}

.filter ul li:last-child {
	border-bottom: none;
}

.filter ul li a {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.category-title {
	display: flex;
	justify-content: flex-end;
	background: var(--sub-background-color);
	text-align: center;
	font-size: 1.2rem;
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

/********************* 
desk top filter section
**********************/
.product-aside {
	display: none;
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	width: 10rem;
	align-items: center;
	justify-content: center;
}

.product-aside p {
	margin-bottom: 0;
	width: 100%;
	background: var(--sub-background-color);
	text-transform: capitalize;
	text-align: center;
	padding: 0.5rem 0;
}

.product-aside>ul {
	background: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-aside li {
	width: 100%;
}

.product-aside a {
	display: inline-block;
	padding: 0.3rem;
	text-align: center;
	width: 100%;
	transition: color 0.2s ease-in;
}

.product-aside a:hover {
	background: #333;
	opacity: 0.3;
}

/******************************************************* 
 purcahse section inside #main product features section
********************************************************/
.purchase-information {
	display: flex;
	justify-content: space-between;
}

.purchase-information .card-title,
.purchase-information .card-price {
	margin: 0;
}

.purchase-information .card-title a {
	font-size: 2rem;
}

.purchase-information .card-price {
	font-size: 1.4rem;
}

.main-display-btn {
	display: block;
	width: 90%;
	margin: 0.75rem auto;
}

/*************** 
 contact page section
****************/
#contact-page form {
	display: flex;
	flex-direction: column;
	margin: 0 auto 3rem auto;
	padding: 2rem;
	border-radius: 10px;
	background: var(--sub-background-color);
}

#contact-page p {
	margin: 0 auto;
	text-align: center;
}

.contact-form-title {
	text-align: center;
	font-size: 3.5rem;
	margin: 2rem 0 0 0;
}

input[type="text"],
input[type="email"],
#contact-page form textarea {
	padding: .75rem 1rem;
}

.contact-form-field {
	padding: .5rem 0;
	margin-bottom: 1rem;
	border-radius: 10px;
	outline: 0;
}

.contact-form-field:focus {
	border-color: rgba(0, 0, 255, 0.7);
}

#contact-page form label {
	font-size: 1rem;
	padding-bottom: 6px;
	color: #000;
}

textarea {
	height: 100px;
	word-wrap: break-word;
	background: #fff;
	color: #000;
}

.form-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	width: 100%;
}

.form-submitButton {
	display: inline-block;
	width: 100%;
	border-radius: 10px;
}

/*************** 
 footer section
****************/
.footer-nav ul {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-nav a {
	text-transform: capitalize;
	font-size: 1.1rem;
	display: inline-block;
	padding: 1rem 0.5rem;
}

.services h2,
.footer-heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 4px;
	text-transform: var(--text-capitalized);
}

.services {
	margin-bottom: 3rem;
}

.footer-heading {
	text-align: center;
	font-size: 3.5rem;
}

.services h2 {
	font-size: 2rem;
}

.copyright {
	padding: 1rem;
	background: #333;
}