@import "variables";
@import "reset";

@mixin flex {
  display: flex;
}
@mixin flex-between {
  @include flex();
  justify-content: space-between;
}
@mixin flex-center {
  @include flex();
  justify-content: center;
  align-items: center;
}
@mixin flex-direction-column {
  @include flex();
  flex-direction: column;
}
@mixin no-box-shadow {
  box-shadow: none;
}

@import "indexNavigation";
@import "adminNavigation";
@import "indexMain";
@import "adminIndexPage";
@import "productForm";
@import "mainIndexPages";
@import "messages";
@import "contactUs";
@import "forms";
@import "productsCards";
@import "showPage";
@import "editPage";
@import "footer";
@import "media-queries";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text;
}

.go-button {
  background-color: $go-button;
  &:hover {
    background-color: $go-button-hover;
  }
}

.delete-button {
  background-color: $delete-button;
  &:hover {
    background-color: $delete-button-hover;
  }
}

.static-button {
  background-color: $static-button;
  color: $nav-text;
  @include no-box-shadow;
  outline: 1px solid $nav-text;
  &:hover {
    background-color: $static-button-hover;
    @include no-box-shadow;
  }
}

#footer-section,
.navigation {
  background: $nav-background;
}
.copyright {
  background: $aside-background;
  color: $aside-text;
}
