* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after,
ul,
.footer-navigation .copyright {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li, .footer-navigation .copyright li {
  list-style: none;
}

ul li a, .footer-navigation .copyright li a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #333;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
}

.back {
  background-color: #999900;
}

.back:hover {
  background-color: olive;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 3rem;
}

h4 {
  margin: 0;
}

h4,
.purchase-information span {
  font-size: 1.3rem;
}

.filter-title:hover {
  cursor: pointer;
}

.arrow-up,
.arrow-down {
  pointer-events: none;
}

.arrow-up {
  display: none;
}

.back-btn {
  background-color: #999900;
}

.back-btn:hover {
  background-color: olive;
}

.show-btn {
  background-color: #0088cc;
}

.show-btn:hover {
  background-color: #00aaff;
}

.index-main-section {
  width: 90%;
  margin: 0 5%;
}

.display-header-title,
.affiliate-disclaimer-container a,
.description-title,
.copyright,
.index-featured-title {
  text-transform: capitalize;
}

.dash-board-nav {
  width: 18%;
  min-height: 100vh;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.dash-board-nav .dash-board-container {
  height: 70%;
  width: 100%;
}

.dash-board-nav .dash-board-container .admin-nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-board-nav .dash-board-container h1 {
  margin: 1.5rem 0;
}

.dash-board-nav .dash-board-container ul, .dash-board-nav .dash-board-container .footer-navigation .copyright, .footer-navigation .dash-board-nav .dash-board-container .copyright {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dash-board-nav .dash-board-container ul a, .dash-board-nav .dash-board-container .footer-navigation .copyright a, .footer-navigation .dash-board-nav .dash-board-container .copyright a {
  text-align: center;
  color: #333;
}

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-header {
  background: #f6f9fc;
  position: relative;
}

.display-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88vh;
}

#hero-image-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#hero-image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display-hero-title {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2.5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-hero-title p {
  width: 70%;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.25rem;
  border-top: 8px double white;
  border-bottom: 8px double white;
  padding: 0.3rem 50px;
}

.index-navigation {
  position: relative;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
  border-bottom: 1px solid #333;
}

.index-navigation i.material-icons {
  display: inline-block;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 1rem;
}

.index-navigation i.material-icons:hover {
  cursor: pointer;
}

.index-navigation ul li, .index-navigation .footer-navigation .copyright li, .footer-navigation .index-navigation .copyright li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-navigation ul li a, .index-navigation .footer-navigation .copyright li a, .footer-navigation .index-navigation .copyright li a {
  padding: 6px 15px;
  font-size: 1.4rem;
  color: #333;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.index-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-navigation-container .index-logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-center-header {
  max-height: 100vh;
  margin: 1.5rem auto;
}

.message-center-header .message-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-center-header .message-center-container h1 {
  margin: 0;
  width: 100%;
  text-align: center;
}

.message-center-header .message-center-container .message-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-center-header .message-center-container .input-field {
  width: 20%;
  margin: 0;
}

.message-center-header .message-center-container .input-field #message-filter {
  padding: 5px 0;
}

.message-center-header .message-center-container .input-field #message-filter:hover {
  cursor: pointer;
}

.message-center-header .delete-container {
  height: 20px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 20px;
  margin-bottom: 1rem;
}

.message-center-header .delete-container label span {
  color: white;
}

.message-center-header .delete-container input {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 6px 8px;
  height: 2.4rem;
}

.message-center-header .delete-container button {
  background: none;
  color: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collection {
  width: 100%;
}

.collection form button {
  border: 0;
  font-size: 1.75rem;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  visibility: hidden;
  color: #0088cc;
}

.collection form button:hover {
  cursor: pointer;
}

.collection .collection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection .collection-item .collection-item-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection .collection-item .collection-item-info .collection-group {
  width: 100%;
}

.collection .collection-item .collection-item-info .collection-group_date {
  text-align: center;
}

.collection .collection-item .collection-item-info form button {
  padding-right: 15px;
  color: #333;
}

.message-details {
  padding: 2rem;
  height: 100vh;
}

.message-details .collection-group_date {
  text-align: center;
  border: 1px solid black;
  padding: 4px;
}

.message-details .collection-group_date b {
  font-size: 1.2rem;
}

.message-details p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-details p .message-label {
  display: inline-block;
  max-width: 15%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.message-details .message-body {
  padding: 8px 0;
}

.message-details .message-showpage-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.message-details .message-showpage-buttons a {
  display: inline-block;
}

.message-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.message-button-container h1 {
  margin: 0;
  width: 100%;
  padding: 0 0 6px 0;
  text-align: center;
}

.message-button-container form button {
  color: #333;
  cursor: pointer;
}

h2 {
  margin: 1rem 0;
}

.message-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  padding: 6px;
}

.contact-us,
.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page {
  max-width: 50%;
  margin: 1rem auto;
  padding: 0 3rem;
}

.contact-page .contact-header {
  padding: 1rem 2rem;
}

.contact-page .contact-header .contact-title {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 3.2rem;
  text-align: center;
  color: #333;
}

.contact-page .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page .contact-form .product-input {
  margin-bottom: 1rem;
  padding: 0.4rem 0.7rem;
}

.contact-page .contact-form label {
  font-size: 1rem;
}

.contact-page .contact-form label:first-child {
  margin-top: 1rem;
}

.contact-page .contact-form textarea {
  min-height: 6rem;
  max-height: 10rem;
  padding: 0;
  resize: none;
}

.contact-page .contact-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.contact-page .contact-form div .btn-submit {
  font-size: 1rem;
  width: 50%;
  background-color: #0088cc;
}

.contact-page .contact-form div .btn-submit:hover {
  background-color: #00aaff;
}

.form-group {
  width: 55%;
  margin: 0 auto;
}

.form-group h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.article-section,
.product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-section label,
.product-section label {
  font-size: 1rem;
  color: black;
}

.article-section textarea,
.product-section textarea {
  resize: none;
  height: 8rem;
  padding: 8px;
}

.article-section input,
.product-section input {
  padding: 8px;
}

.article-section {
  margin-bottom: 0.5rem;
}

.form-field {
  margin: 0 0 1rem 0;
}

.admin-login {
  height: 100vh;
}

.admin-login-form {
  padding: 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-login-form h1 {
  background: lightgray;
  width: 70%;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.admin-login-form form {
  width: 70%;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-login-form form input[type="text"],
.admin-login-form form input[type="password"] {
  width: 100%;
  display: inline-block;
}

.admin-login-form form label {
  font-size: 1rem;
  margin-top: 1rem;
}

.admin-login-form form button {
  display: inline-block;
  width: 70%;
  margin: 1rem 15%;
}

.footer-section {
  background: #333;
}

.footer-navigation ul, .footer-navigation .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem 0;
}

.footer-navigation ul li, .footer-navigation .copyright li {
  margin-right: 1rem;
}

.footer-navigation ul li a, .footer-navigation .copyright li a {
  color: white;
  font-size: 1.2rem;
}

.footer-navigation .copyright {
  color: white;
  font-size: 1.2rem;
  background: inherit;
}

@media screen and (max-height: 812px) and (min-width: 0px) and (max-width: 600px) {
  .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card-image {
    height: 320px;
  }
  .card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .index-navigation-container,
  .index-navigation-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-navigation {
    position: relative;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
  }
  .index-navigation i.material-icons {
    display: inline-block;
    color: #333;
    min-height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 10px;
    left: 0.7rem;
  }
  .index-navigation i.material-icons:hover {
    cursor: pointer;
  }
  .index-navigation .index-navigation-links {
    display: none;
  }
  .index-navigation .index-navigation-links li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .index-navigation .index-navigation-links li a {
    padding: 6px 15px;
    width: 100%;
    font-size: 1.4rem;
    color: #333;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .index-navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .index-navigation-container .index-logo {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #333;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .index-navigation-container .index-logo img {
    height: 3.8rem;
    width: 90%;
  }
  .display-header {
    background: #f6f9fc;
    position: relative;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    width: 100%;
  }
  #hero-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  #hero-image-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .display-hero-title {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .display-hero-title p {
    width: 70%;
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.25rem;
    border-top: 8px double white;
    border-bottom: 8px double white;
    padding: 0.3rem 1rem;
  }
  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
  }
  .article-section h1 {
    text-align: center;
    margin: 1rem 0;
  }
  .article-section .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .article-section .card .card-content {
    padding: 0;
  }
  .article-section .card .card-content .card-title {
    text-align: center;
    margin: 0.5rem 0;
  }
  .article-section .card .card-content .card-description {
    padding: 0 0 1rem 0;
  }
  .more-articles-anchor {
    margin: 1rem 0;
    width: 100%;
  }
  .more-articles-anchor .article-link {
    width: 100%;
    background: #0088cc;
  }
  .more-articles-anchor .article-link:hover {
    background: #00aaff;
  }
  .footer-navigation ul, .footer-navigation .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid white;
  }
  .footer-navigation ul a, .footer-navigation .copyright a {
    display: inline-block;
    padding-bottom: 0.5rem;
  }
  #article-index-section h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 8px 0;
    background: #0088cc;
    color: white;
  }
  .article-card .card-image img {
    width: 100%;
  }
  .article-card .card-content {
    padding: 0 0 1.5rem 0;
  }
  .article-card .card-content .card-title {
    font-size: 2rem;
    margin: 0.5rem 0;
    text-align: center;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display-header-container .article-product-description h1 {
    margin: 1rem 0;
    text-align: center;
  }
  .display-header-container .card-content {
    padding: 0;
  }
  .display-header-container .card-content .card-title {
    text-align: center;
    margin: 1rem 0;
  }
  .product-container .card-content div .card-title {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
  }
  .product-container .card-content .card-price {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .product-container .card-content .go-button {
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1025px) {
  .index-navigation-container,
  .index-navigation-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-navigation {
    position: relative;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
  }
  .index-navigation i.material-icons {
    display: inline-block;
    color: #333;
    min-height: 6rem;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 10px;
    left: 1rem;
  }
  .index-navigation i.material-icons:hover {
    cursor: pointer;
  }
  .index-navigation .index-navigation-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .index-navigation .index-navigation-links li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .index-navigation .index-navigation-links li a {
    padding: 6px 15px;
    width: 100%;
    font-size: 1.4rem;
    color: #333;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .index-navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .index-navigation-container .index-logo {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #333;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .index-navigation-container .index-logo img {
    height: 6rem;
    width: 90%;
  }
  .display-header {
    background: #f6f9fc;
    position: relative;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
    width: 100%;
  }
  #hero-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  #hero-image-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .display-hero-title {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .display-hero-title p {
    width: 70%;
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.25rem;
    border-top: 8px double white;
    border-bottom: 8px double white;
    padding: 0.3rem 1rem;
  }
  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
  }
  .article-section h1 {
    text-align: center;
    margin: 1rem 0;
  }
  .article-section .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .article-section .card .card-image img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article-section .card .card-content {
    padding: 0;
  }
  .article-section .card .card-content .card-title {
    text-align: center;
    margin: 0.5rem 0;
  }
  .more-articles-anchor {
    margin: 1rem 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-articles-anchor .article-link {
    width: 50%;
    background: #0088cc;
  }
  .more-articles-anchor .article-link:hover {
    background: #00aaff;
  }
  .footer-navigation ul, .footer-navigation .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid white;
  }
  .footer-navigation ul a, .footer-navigation .copyright a {
    display: inline-block;
    padding-bottom: 0.5rem;
  }
  #article-index-section h1 {
    text-align: center;
    font-size: 4rem;
    padding: 8px 0;
    background: #0088cc;
    color: white;
  }
  .article-card {
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .article-card .card-image img {
    width: 100%;
  }
  .article-card .card-content {
    padding: 0 0 1rem 0;
  }
  .article-card .card-content h3 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0.5rem 0;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display-header-container .article-product-description h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
  }
  .display-header-container .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .display-header-container .card .card-content {
    padding: 0 1rem;
  }
  .display-header-container .card .card-content h3 {
    text-align: center;
  }
  .display-header-container .footer-navigation .copyright {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-container {
    margin: 2rem 0;
  }
  .product-container .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .product-container .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
    border: none;
  }
  .product-container .card-image img {
    width: 100%;
    height: 50vh;
  }
  .product-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .product-container div .card-title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    padding: 0.2rem;
  }
  .product-container div .card-price {
    font-size: 1.5rem;
    display: inline-block;
    padding: 5px 0;
  }
  .product-container p {
    margin-bottom: 1rem;
  }
  .product-container .go-button {
    border: none;
    width: 50%;
    margin: auto;
  }
  .container {
    width: 85%;
  }
  .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card .card-image img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .index-navigation {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
  }
  .index-navigation ul, .index-navigation .footer-navigation .copyright, .footer-navigation .index-navigation .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: space-between;
            flex-direction: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-navigation ul li, .index-navigation .footer-navigation .copyright li, .footer-navigation .index-navigation .copyright li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .index-navigation ul li a, .index-navigation .footer-navigation .copyright li a, .footer-navigation .index-navigation .copyright li a {
    padding: 6px 15px;
    font-size: 1.4rem;
    color: #333;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .index-navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-navigation-container .index-logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1201px) {
  .display-header {
    background: #f6f9fc;
    position: relative;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
  }
  #hero-image-container {
    position: relative;
    height: 89vh;
    width: 82%;
    margin: 0 auto;
    z-index: 0;
  }
  #hero-image-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .display-hero-title {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .display-hero-title p {
    width: 70%;
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.25rem;
    border-top: 8px double white;
    border-bottom: 8px double white;
    padding: 0.3rem 1rem;
  }
  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
  }
  .article-section h1 {
    text-align: center;
    margin: 1rem 0;
  }
  .article-section .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .article-section .card .card-image img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article-section .card .card-content {
    padding: 0;
  }
  .article-section .card .card-content .card-title {
    text-align: center;
    margin: 0.5rem 0;
  }
  .more-articles-anchor {
    margin: 1rem 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-articles-anchor .article-link {
    width: 50%;
    background: #0088cc;
  }
  .more-articles-anchor .article-link:hover {
    background: #00aaff;
  }
  .footer-navigation ul, .footer-navigation .copyright {
    border-bottom: 1px solid white;
  }
  .footer-navigation ul a, .footer-navigation .copyright a {
    display: inline-block;
    padding-bottom: 0.5rem;
  }
  #article-index-section h1 {
    text-align: center;
    font-size: 4rem;
    padding: 8px 0;
    background: #0088cc;
    color: white;
  }
  .article-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .article-card:last-child {
    border-bottom: none;
  }
  .article-card .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 1rem 0;
  }
  .article-card .card .card-image {
    width: 80%;
  }
  .article-card .card .card-image img {
    width: 100%;
  }
  .article-card .card .card-content h3 {
    font-size: 2.2rem;
    margin: 0.5rem 0;
  }
  .display-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display-header-container .article-product-description h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3.75rem;
  }
  .display-header-container .article-product-description p {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    padding: 1rem 0.75rem;
  }
  .display-header-container .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .display-header-container .card .card-image {
    height: 350px;
  }
  .display-header-container .card .card-image img {
    height: 100%;
    width: 100;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .display-header-container .card .card-title {
    text-align: center;
    margin: 0.5rem 0;
  }
  .display-header-container .card .card-content {
    padding: 0;
  }
  .product-container {
    margin: 2rem 0;
  }
  .product-container .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .product-container .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
    border: none;
    height: 35rem;
  }
  .product-container .card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .product-container div .card-title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    padding: 0.2rem;
  }
  .product-container div .card-price {
    font-size: 1.5rem;
    display: inline-block;
    padding: 5px 0;
  }
  .product-container p {
    margin-bottom: 1rem;
  }
  .product-container .go-button {
    border: none;
    width: 50%;
    margin: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.title-container i.material-icons {
  display: block;
}

.go-button {
  background-color: #0088cc;
}

.go-button:hover {
  background-color: #00aaff;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: #e60000;
}

.static-button {
  background-color: white;
  color: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 1px solid #333;
}

.static-button:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-title {
  color: #333333;
}

.card-title a:hover {
  color: rgba(51, 51, 51, 0.3);
}

.collection-group_subject::first-letter {
  text-transform: capitalize;
}

.show-delete-button {
  display: block;
}

#footer-section,
.navigation {
  background: #ed8a63;
}

.copyright {
  background: #ed8a63;
  color: #ddd;
}
/*# sourceMappingURL=sfstyles.css.map */