@import "variables";
@import "reset";

@mixin flex {
  display: flex;
}
@mixin flex-between {
  @include flex();
  justify-content: space-between;
}
@mixin flex-center {
  @include flex();
  justify-content: center;
  align-items: center;
}
@mixin flex-direction-column {
  @include flex();
  flex-direction: column;
}
@mixin no-box-shadow {
  box-shadow: none;
}
@mixin object-fit-photos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin image-height {
  height: 22rem;
  img {
    @include object-fit-photos();
  }
}

//admin scss
@import "admin/adminNavigation";
@import "admin/adminIndexPage";

// index scss
@import "index/indexMain";
@import "navigation/indexNavigation";

// static scsss
@import "static/messages";
@import "static/contactUs";
@import "static/forms";
@import "static/footer";

// media queries scss

@import "media_queries/xl-desktop-media-queries";
@import "media_queries/desktop-media-queries";
@import "media_queries/tablet-media-queries";
@import "media_queries/phone-media-queries";
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text;
}

.title-container i.material-icons {
  display: block;
}

.go-button {
  background-color: $go-button;
  &:hover {
    background-color: $go-button-hover;
  }
}

.delete-button {
  background-color: $delete-button;
  &:hover {
    background-color: $delete-button-hover;
  }
}

.static-button {
  background-color: $static-button;
  color: $nav-text;
  @include no-box-shadow;
  outline: 1px solid $nav-text;
  &:hover {
    background-color: $static-button-hover;
    @include no-box-shadow;
  }
}

.card {
  @include no-box-shadow;
}
.card-image {
  @include image-height;
}
.card-title {
  color: $title-text;
}
.card-title a:hover {
  color: $border-color;
}
.collection-group_subject::first-letter {
  text-transform: capitalize;
}

.show-delete-button {
  display: block;
}

#footer-section,
.navigation {
  background: $nav-background;
}
.copyright {
  background: $aside-background;
  color: $aside-text;
}
