@import "variables";
@import "reset";

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-direction-column {
	display: flex;
	flex-direction: column;
}

@import "indexNavigation";
@import "adminNavigation";
@import "indexMain";
@import "adminIndexPage";
@import "mainFeaturedSection";
@import "productForm";
@import "mainIndexPages";
@import "messages";
@import "contactUs";
@import "forms";
@import "showPage";
@import "editPage";
@import "footer";

#footer-section,
.navigation {
	background: $nav-background;
}
.copyright {
	background: $aside-background;
	color: $aside-text;
}
