html,
body,
ul {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, li a {
  color: #333;
}

.index-main-section {
  width: 90%;
  margin: 0 5%;
}

.display-header-title,
.affiliate-disclaimer-container a,
.description-title,
.copyright,
.index-featured-title {
  text-transform: capitalize;
}

.dash-board-nav {
  width: 15%;
  height: 100vh;
  padding-top: 1rem;
  line-height: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.dash-board-nav .dash-board-container {
  height: 100%;
  width: 100%;
}

.dash-board-nav .dash-board-container h4 {
  text-align: center;
}

.product-menu {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dash-board-container > div {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#too {
  margin: 0;
  line-height: 1rem;
}

.dash-board-container div a:hover {
  text-decoration: underline;
}

.dash-board-nav-items {
  width: 100%;
  text-align: center;
}

span i.material-icons {
  display: inline-block;
}

span i.material-icons:hover {
  text-decoration: none;
}

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container h1 {
  margin: 1rem;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form .product-input {
  margin-bottom: 1rem;
}

.form-container form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-container form input[type="text"] {
  padding: 0.75rem;
}

#message-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-center-header {
  width: 70%;
  max-height: 100vh;
}

.message-center-header .message-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.message-center-header .message-center-container h1 {
  margin: 1rem 2rem 1rem 0;
}

.message-center-header .message-center-container .message-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection {
  width: 100%;
  border: none;
}

.collection a:nth-of-type(even) {
  background: lightgray;
}

.collection .collection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection .collection-item .collection-item-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.collection .collection-item .collection-item-info .collection-group {
  width: 100%;
}

.message-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  width: 50vw;
  padding: 2rem;
  margin: auto;
}

.message-details p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-details p .message-label {
  display: inline-block;
  max-width: 15%;
  text-decoration: underline;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.message-details aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.message-details aside a {
  display: inline-block;
  margin-right: 1rem;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.contact-us-form {
  height: 100%;
}

.contact-us-form h1 {
  text-align: center;
}

.contact-us-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.contact-us-form form input[type="text"] {
  margin-bottom: 1rem;
  padding: 0.2rem 0.75rem;
}

.contact-us-form form label {
  font-size: 1rem;
}

.contact-us-form form textarea {
  height: 6rem;
  width: 30rem;
  padding: 1rem;
  resize: none;
}

.contact-us-form form .contact-form-buttons {
  margin: 1rem 0;
}

.contact-us-form form .contact-form-buttons .submit {
  margin-right: 1rem;
}

.admin-login {
  height: 100vh;
}

.admin-login-form {
  padding: 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-login-form h1 {
  background: lightgray;
  width: 70%;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.admin-login-form form {
  width: 70%;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-login-form form input[type="text"],
.admin-login-form form input[type="password"] {
  width: 100%;
  display: inline-block;
}

.admin-login-form form label {
  font-size: 1rem;
  margin-top: 1rem;
}

.admin-login-form form button {
  display: inline-block;
  width: 70%;
  margin: 1rem 15%;
}

.product-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid black;
  padding: 1rem 0;
  margin-bottom: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-index input[type="text"] {
  width: 30%;
}

.product-index input[placeholder] {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0 1rem;
}

.product-index .product-filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-index .product-filter-section span {
  display: inline-block;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .btn,
.card .card-content {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card .card-content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .btn {
  width: 90%;
  margin: 0 5% 1rem;
}

.show-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.show-page-container {
  margin: auto;
}

.show-page-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.show-page-information .main-image-container {
  width: 100%;
}

.show-page-information .main-image-container .main-image img {
  display: inline-block;
  max-height: 100%;
  width: 100%;
}

.show-page-information .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  max-height: 70vh;
}

.show-page-information .product-details .product-title {
  font-size: 2.5rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.show-page-information .product-details .product-description {
  width: 100%;
  font-size: 1rem;
  word-break: break-word;
  margin: 0;
}

.show-page-information .product-details .product-price {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: bold;
}

.show-page-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  max-width: 70%;
  border-top: 1px solid black;
}

.show-page-form-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 0;
  max-width: 100%;
}

.show-page-form-container p {
  font-size: 1.1rem;
}

.show-page-form-container p:last-child {
  word-wrap: break-word;
}

.show-page-form-container .show-page-form .btn {
  margin-right: 1rem;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.image-container img {
  width: 15.5%;
  margin: 0.5rem 0.5rem 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.image-container img:last-child {
  margin-right: 0;
}

.image-container img:hover {
  border: 1px solid black;
  cursor: pointer;
  padding: 0.5rem;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  outline: 2px solid blue;
}

.form-container {
  max-width: 50%;
  height: 100%;
  outline: 3px solid yellow;
  margin: 0 auto;
}

.form-container h1 {
  margin: 1rem;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 4px solid tan;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.form-container form .product-input {
  margin-bottom: 1rem;
}

.form-container form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-container form input[type="text"] {
  padding: 0.75rem;
}

#footer-section,
.navigation {
  background: #ed8a63;
}

.copyright {
  background: #ed8a63;
  color: #ddd;
}
/*# sourceMappingURL=sfstyles.css.map */