* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: scroll;
}

.content-price {
	margin: 0;
}

.content-title {
	font-weight: 100;
}

.content-body {
	font-weight: 500;
}

.content div,
.content-body {
	border-top: .5px solid rgba(0, 0, 0, 0.4);
	border-bottom: .5px solid rgba(0, 0, 0, 0.4);
}


/* media queries */

@media screen and (min-width: 1024px) {
	.desk-top-purchase-button {
		display: none;
	}

	.content-body {
		width: 80%;
	}
}

@media screen and (min-width: 601px) {

	.mobile-sub-pictures,
	.mobile-price {
		display: none;
	}

	main {
		margin: auto;
	}

	.content-title {
		font-size: 3rem;
		margin: 0 auto;
		margin-bottom: 1rem;
		width: 100%;
		text-align: center;
		padding: 0.5rem;
		text-transform: capitalize;
	}

	.large-sub-pictures,
	.content-title,
	#main-section {
		border-bottom: .5px solid rgba(0, 0, 0, 0.4);
	}

	#main-section {
		display: flex;
		justify-content: space-evenly;
		height: 70vh;
		width: 100%;
		overflow: auto;
	}

	.image-section {
		width: 50%;
		padding-bottom: 1rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.image-section img {
		width: 100%;
		height: 100%;

	}

	.large-sub-pictures {
		display: flex;
		width: 100%;
		margin: .5rem auto;
	}

	.large-sub-pictures img {
		width: 10%;
		margin: 0 0.5rem .5rem 0;
	}

	.large-sub-pictures img:last-child {
		margin-right: 0;
	}

	.content-body {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		word-wrap: break-word;
		border-top: 0;
		border-bottom: 0;
		font-size: 1.2rem;
	}

	.content-body .content-desc {
		font-size: 1.1rem;
		padding: 0 1rem;
		max-width: 100%;
	}

	.deskTop-price {
		font-size: 1.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
	}

	.mobile-purchase-button {
		width: 30%;
		display: block;
		margin: 1.5rem auto;
	}
}

@media screen and (max-width: 600px) {
	#navigation {
		width: 100%;
	}

	.image-section {
		max-width: 100%;
		height: 100%;
	}

	.image-section img {
		width: 100%;
		height: 100%;
	}

	#main-section .sub-images {
		display: flex;
		margin-bottom: 1rem;
	}

	#main-section .mobile-sub-pictures img {
		width: 20%;
		margin-left: 1rem;
	}

	.large-sub-pictures {
		display: none;
	}

	.content-body div {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.content-body .content-desc {
		font-size: 1.2rem;
	}

	.content-title {
		text-align: center;
		text-transform: capitalize;
		font-size: 2rem;
	}

	.mobile-price {
		font-size: 1.5rem;
	}

	.deskTop-price {
		display: none;
	}

	.about-info,
	p {
		padding: .5rem 0;
	}

	.mobile-purchase-button {
		width: 90%;
		margin: 1rem auto;
	}

	.footer-nav ul {
		display: flex;
		align-items: flex-start;
	}
}