<% include ../partials/header %> <% include ../partials/nav %>
<article>
  <section class="container">
    <h3>Articles</h3>
    <% articles.forEach(article => { %> <% }) %>
  </section>
</article>
<% include ../partials/footer %>
