<% include ../partials/header %> <% include ../partials/nav %>

<section class="container">
  <div id="article-index-section">
    <h1>Articles</h1>
    <div class="row">
      <% articles.forEach(article => { %>
      <div id="article-card">
        <div class="card-image">
          <img src="../../images/sm-arm-chair.jpg" alt="" />
        </div>
        <div class="article-content">
          <h3>
            <a href="/articles/<%= article.slug %>" class="card-title">
              <%= article.title %>
            </a>
          </h3>
          <p><%= article.description %></p>
        </div>
      </div>

      <% }) %>
    </div>
  </div>
</section>
<% include ../partials/footer %>
