<% include ../partials/header %> <% include ../partials/nav %>

<section class="container">
  <div id="article-index-section">
    <h3>Articles</h3>
    <div class="row">
      <% articles.forEach(article => { %>
      <div id="article-card">
        <div class="card-image">
          <img src="../../images/sm-arm-chair.jpg" alt="" />
        </div>
        <div class="article-content" style="width: 80%">
          <h1 style="text-align: left; padding-left: 10px">
            <a href="/articles/<%= article.slug %>" target="_blank">
              <%= article.title %>
            </a>
          </h1>
          <p><%= article.description %></p>
        </div>
      </div>

      <% }) %>
    </div>
  </div>
</section>
<% include ../partials/footer %>
