<% include ../partials/header %> <% include ../partials/nav %>

<section class="container">
  <div class="article-section">
    <h1>Articles</h1>
    <% articles.forEach(article => { %>
    <div class="article-container">
      <div class="card article-container_card">
        <div class="card-image article-container_image-container">
          <img src="../../images/sm-arm-chair.jpg" alt="" />
        </div>
        <div class="card-content article-container_content">
          <h3 class="card-title">
            <a href="/articles/<%= article.slug %>"> <%= article.title %> </a>
          </h3>
          <p class="article-description"><%= article.description %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<% include ../partials/footer %>
