<% include ../partials/header %>
<section class="admin-login-container" style="max-width: 60%; height: 75vh; margin: 2rem auto;">
  <div class="admin-login-form" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="admin-login-form-title"  style="text-align: center; font-size: 3rem; background: grey; padding: 10px 0;">Admin Login</h1>
    <form>
      <label for="username">Enter Username</label>
      <input type="text" id="username" />
      <label for="password">Enter Password</label>
      <input type="text" id="password" />
    </form>
  </div>
</section>
<% include ../partials/footer %>