.contact-us,
.featured {
  @include flex;
}

.contact-page {
  max-width: 100%;
  margin: 1rem auto;
  padding: 0 3rem;
  .contact-page_header {
    padding: 1rem 2rem;
    p {
      @include text-align(center);
    }
    #contact-title {
      margin: 0;
      padding-bottom: 0.5rem;
      font-size: 3.2rem;
      text-align: center;
      color: #333;
    }
  }

  .contact-page_form {
    @include flex-direction(column);
    .product-input {
      margin-bottom: 1rem;
      padding: 0.4rem 0.7rem;
    }
    label {
      font-size: 1rem;
    }
    label:first-child {
      margin-top: 1rem;
    }
    textarea {
      min-height: 6rem;
      max-height: 10rem;
      padding: 0;
      resize: none;
    }
    .button-container {
      @include flex-align(center, center);
      margin: 1rem 0;
      .btn-submit {
        font-size: 1rem;
        width: 100%;
        background-color: $go-button;
        &:hover {
          background-color: $go-button-hover;
        }
      }
    }
  }
}
