<% include ../partials/header %> <% include ../partials/nav %>
<article class="container" style="width: 100%; height: 30.5rem">
  <h1 class="footer-heading">About Us</h1>
  <div
    class="about-description"
    style="
      width: 50%;
      padding: 6px 1rem;
      transform: translateX(50%);
      border-radius: 3rem;
      height: 70%;
      outline: 4px double#333;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <p style="margin: 0; margin-bottom: 1rem">
      Growing up furniture was very clunky, took up too much space, was visually
      ugly, and in some cases was not very practical for certain spaces.
    </p>
    <p style="margin: 0">
      The goal of Stylish Function is to find modular, multifunctional, and
      space saving solutions for all spaces whether it be living, working, or
      casual spaces.
    </p>
  </div>
</article>
<% include ../partials/footer %>
