<%- include ("../partials/header") %> <%- include ("../partials/nav") %>
<section class="about-us">
  <div class="container">
    <h1 class="about-us_heading">About Us</h1>
    <div class="about-us_description">
      <p class="about-us_paragraph">
        Growing up furniture was very clunky, took up too much space, was
        visually ugly, and in some cases was not very practical for certain
        spaces. The goal of Stylish Function is to find modular,
        multifunctional, and space saving solutions for all spaces whether it be
        living, working, or casual spaces.
      </p>
    </div>
  </div>
</section>
<%- include ("../partials/footer") %>
