<%- include ("../partials/header") %> <%- include ("../partials/nav") %>
<section class="about-us">
  <div class="container">
    <h1 class="about-us_heading">About Us</h1>
    <div class="about-us_description">
      <p class="about-us_paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis odio
        autem fuga vel earum dolor. Porro fuga soluta inventore, sunt eaque
        repudiandae facilis aliquam quod saepe, vitae ea sint perferendis?
        Sapiente est odio possimus dignissimos laudantium quisquam voluptate
        fugiat, necessitatibus suscipit cumque deserunt error, aliquam expedita
        illo dolore delectus tenetur adipisci quibusdam repudiandae reiciendis
        libero pariatur eveniet! Adipisci, dolor tempora. Quo, in numquam quos
        dicta alias, soluta corrupti reiciendis quibusdam accusantium at itaque
        ab rem id sint eos incidunt voluptatum reprehenderit a voluptatem fugiat
        ducimus! Voluptates consequuntur nam nobis deserunt. Quis, repellat nisi
        rerum obcaecati, molestiae minima dicta, neque veniam autem aut
        repellendus illum esse doloribus eaque exercitationem amet dolores
        officia laborum suscipit. Et eius sed illum, inventore id a?
      </p>
    </div>
  </div>
</section>
<%- include ("../partials/footer") %>
