<%- include ("../partials/header") %> <%- include ("../partials/nav") %>
<section class="success-page">
  <div class="container">
    <div class="success-body">
      <h1>Thank you for your message</h1>
      <p>We will get back to you soon.</p>
      <div>
        <a href="/contact" class="btn go-button">Send another message</a>
        <a href="/main/articles" class="btn go-button"
          >Checkout some articles</a
        >
      </div>
    </div>
  </div>
</section>
<%- include ("../partials/footer") %>
