<% include ../partials/header %> <% include ../partials/nav %>
<h1>Thank you for your message We will get back to you soon</h1>
<div>
  <a href="/contact-us" class="btn">Send another message</a>
  <a href="/articles" class="btn">Checkout some articles</a>
</div>
<% include ../partials/footer %>
