<% include ../partials/header %>

  <!-- navigation for desktop only -->
  <nav id="navigation">
    <% include ../partials/nav %>
  </nav>
  <!-- navigation on mobile device -->
  <div class="partial-nav">
    <% include ../partials/mobile-nav %>
  </div>

<% include ../partials/footer %>