<% include ../partials/header %>

<main id="message-center">
  <% include ../admin/admin-nav %>
  <section class="container message-center-header">
    <div class="message-center-container">
      <h1>Messages</h1>
      <div class="message-filter">
        <span>sort</span>
        <aside>
          <a href="#">Old</a>
          <a href="#">New</a>
        </aside>
      </div>
    </div>
    <div class="collection container">
      <% form.forEach(formItem =>{ %>
      <a href="#" class="collection-item">
        <div class="collection-item-info">
          <div class="collection-group collection-name"><%= formItem.name %></div>
          <div class="collection-group collection-subject"><%= formItem.subject %></div>
          <div class="collection-group collection-date">
            <%= formItem.created_on.toLocaleDateString() %></div>
          <i class="material-icons">delete</i>
        </div>
      </a>
      <% }) %>
    </div>
  </section>
</main>