<% include ../partials/header %>
<% include ../partials/nav %>

<section id="contact-page">
  <div class="container">
    <h1 class="contact-form-title">Contact Us</h1>
    <form action="" class="contact-form">
      <label for="form-nameInput">Name</label>
      <input type="text" name="form-name" class="form-nameInput browser-default" id="form-nameInput">
      <label for="form-subjectInput">Subject</label>
      <input type="text" name="form-subject" class="form-subject browser-default" id="form-subjectInput">
      <label for="form-messageTextArea">Message</label>
      <textarea name="form-textArea" class="form-messageTextArea browser-default" placeholder="Message"></textarea>
      <div class="form-buttons">
        <button type="submit" class="form-submitButton">Submit</button>
        <button type="reset" class="form-resetButton">Reset</button>
      </div>
    </form>
  </div>
</section>

<% include ../partials/footer %>