<% include ../partials/header %>

<!-- navigation for desktop only -->
<nav id="navigation">
  <% include ../partials/nav %>
</nav>
<!-- navigation on mobile device -->


<% include ../partials/footer %>