<% include ../partials/header %>

<a href="/" style="color: blue">go back</a>
<h1>hello!!!...Sorry your page was not found try check you spelling and url address</h1>


<% include ../partials/footer %>