<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>

<main class="index-main-section">
  <h2>Featured</h2>
   <div class="row">
  <% feature.forEach(product =>{ %>
 
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
 
  <img src="<%= product.main_image %>" />
  <div>
      <button type="submit"><a href="/admin/featured/product/<%=product._id%>">GO</a></button>
  </div>
 
       </div>
     </div>
    </div>
  
  <% }) %>
  </div>
</main>

<% include ../partials/footer %>
<% include ../partials/scripts %>