<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>
<% include ../partials/siteDescription %>
<main class="index-main-section">
  <div class="row">
    <div class="col s12 m6 l3">
  <div class="card">
    <div class="card-image">
 <% feature.forEach(product =>{ %>
  <img src="<%= product.main_image %>" />
  <div>
      <button type="submit"><a href="/featured/<%=product._id%>">GO</a></button>
  </div>
 <% }) %>
 </div>
 </div>
</div>
</div>
</main>

<% include ../partials/footer %>
<% include ../partials/scripts %>