<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>
<% include ../partials/siteDescription %>
<main class="index-main-section">
</main>

<% include ../partials/footer %>
<% include ../partials/scripts %>