<% include ../partials/header %>
 
  <nav id="navigation">
    <% include ../partials/nav %>
  </nav>
  <div class="partial-nav">
    <% include ../partials/mobile-nav %>
  </div>
  <header id="display-header">
    <% include ../partials/display-header %>
  </header>
  <section id="about-section">
    <% include ../partials/about-section %>
  </section>
  <main id="featured">
    <% include ../partials/cards %>
  </main>

<% include ../partials/footer %>