<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>

<main class="index-main-section"> 
  <% include ../partials/siteDescription %>
  <% include ../partials/nav-badges %>
</main>

<% include ../partials/footer %>
<% include ../partials/scripts %>