<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>

<main class="index-main-section">
  <h2>Featured</h2>
</main>

<% include ../partials/footer %>