<% include ../partials/header %>
<% include ../partials/headerSection %>

<div style="height: 10vh; margin: 1rem auto; outline: 2px solid red;">dj;ajfdljadl;jfl;jfl;j</div>

<% include ../partials/footer %>