<% include ../partials/header %>

<% include ../partials/nav %>
<% include ../partials/headerSection %>

<main class="index-site-trend-section">
  <% include ../partials/siteDescription %>
  <% include ../partials/trendSection %>
  <% include ../partials/featuredSection %>
</main>

<% include ../partials/footer %>
<% include ../partials/scripts %>