<% include ../partials/header %>

  <nav id="navigation">
    <% include ../partials/nav %>
  </nav>
  <!-- page intro-description section -->
  <section class="page-intro">
    <div class="container">
      <h4>Storage</h4>
      <p>this is the seating section with a description soon to come!!!</p>
    </div>
  </section>
  <hr />
  <!-- Page filter section with a search bar and select menu -->
  <section id="filter-section">
    <div id="search">
      <input type="search" name="search-box"  id="seach" placeholder="Find more of what you are looking for...">
        <button type="submit" class="btn-small"><i class="material-icons">send</i></button>
      </div>
      <select class="browser-default" name="" id="">
        <option value="" disabled selected>Sort By:</option>
        <option value="">Relevance</option>
        <option value="">Newest</option>
        <option value="">Price: Low to High</option>
        <option value="">Price: High to Low</option>
      </select>
    </section>
    <hr />
 
<% include ../partials/footer %>