<% include ../partials/header %>

    <nav id="navigation">
      <% include ../partials/nav %>
    </nav>
    <section style="background: #d3d3d3; margin: 25px auto" class="container">
        <h4 style="padding-top: 10px; text-align: center; margin: 0;">Table</h4>
        <p style="text-align: center; padding: 10px">this is the seating section with a description soon to come!!!</p>
    </section>
    <aside style="padding: 8px;"class="container right-align">
        filter feature
    </aside>
    <hr>
 

<% include ../partials/footer %>