.form-group {
  width: 100%;
  .title-container {
    border-bottom: none;
    h1 {
      width: 100%;
    }
  }
  .article-section {
    label {
      font-size: 1.2rem;
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  .static-button,
  .go-button {
    width: 100%;
  }
  .go-button {
    margin-right: 2rem;
  }
}
