.row .col {
  padding: 0;
}

.title-container {
  h1 {
    @include text-align(center);
    margin: 0.75rem 0;
  }
}

.filter-search {
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;
  outline: 1px solid $border;
  border-radius: 0.5rem;
  @include flex-space-between(space-between, center);
  #filter-search,
  .go-button {
    margin-bottom: 0.75rem;
    width: 35%;
    margin: 0;
  }
  #filter-search {
    height: 36px;
  }
}

.article-container {
  .button-container {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    @include flex();
    a {
      display: inline-block;
      min-width: 50%;
      margin-right: 2rem;
    }
    form {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

// products section
.product-count {
  padding-left: 0.75rem;
}

.index-container {
  margin: auto;
  .product-container {
    margin: 3rem auto;
    @include flex-direction(column);
    .card-image {
      min-width: 40%;
      img {
        @include images(100%, 100%, cover);
        align-self: flex-end;
      }
    }
    .card-content {
      .product-description {
        margin: 0;
      }
      .card-details {
        @include flex-direction(column);
        .card-title {
          margin: 0;
          font-size: 2rem;
          margin-bottom: 0.75rem;
        }
        .card-price {
          font-size: 1.5em;
        }
      }
      .button-container {
        @include flex-direction(column);
        min-width: 100%;
        a {
          display: inline-block;
          width: 100%;
        }
      }
      .card-details,
      .button-container {
        border: none;
      }
    }
  }
}

// mobile admin forms
.form-group {
  width: 100%;
}

.form {
  @include flex-direction(column);
  max-width: 100%;
}

// login form
.admin-login-form {
  width: 70%;
  form,
  form h1,
  .go-button {
    width: 100%;
  }
  h1 {
    background-color: $go-button;
    color: $white;
    border-radius: 0.5rem;
  }
  .go-button {
    margin: 0.75rem auto;
    width: 70%;
  }
}

.button-container {
  @include flex();
  padding: 0;
  width: 50%;
  margin: 0 auto;
  a {
    display: line-block;
    min-width: 50%;
    border: 1px solid $border;
  }
  .go-button {
    margin-right: 2rem;
    width: 50%;
  }
}
