.title-container {
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
}
.filter-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  margin-bottom: 1rem;
  input,
  a {
    width: 100%;
  }
  input {
    margin-right: 4rem;
  }
}

.article-container {
  .card {
    .card-content {
      padding: 0;
      .card-title {
        text-align: center;
        margin: 0.5rem 0;
        border-bottom: 1px solid $border;
        padding-bottom: 0.5rem;
      }
      p {
        padding: 0 0.5rem;
      }
      .button-container {
        a,
        form {
          width: 100%;
        }
        a {
          margin-right: 1rem;
        }
        form {
          button {
            width: inherit;
          }
        }
      }
    }
  }
}
