.form-group {
  width: 100%;
  .title-container {
    border-bottom: none;
  }
  .article-section {
    label {
      font-size: 1.2rem;
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  .static-button {
    width: 100%;
  }

  .go-button {
    width: 100%;
    margin-right: 1.5rem;
  }
}
