.title-container {
  h1 {
    @include text-align(center);
    margin: 1rem 0;
  }
}

.filter-search {
  @include flex-direction(column);
  padding: 0 0.75rem;
  #filter-search,
  .go-button {
    margin-bottom: 0.75rem;
  }
  #filter-search {
    height: 36px;
  }
}

.article-container {
  .button-container {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    @include flex();
    a {
      display: inline-block;
      min-width: 50%;
      margin-right: 2rem;
    }
    form {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

// products section
.product-count {
  padding-left: 0.75rem;
}

.index-container {
  .card-image {
    img {
      @include images(100%, 100%, cover);
    }
  }
  .card-content {
    .card-details {
      .card-title {
        font-size: 2em;
        margin: 0.75rem 0;
      }
      .card-price {
        font-size: 1.5em;
        margin: 0.75rem 0;
      }
    }
  }
  .button-container {
    min-width: 100%;
    padding: 1rem 0;
  }
}

// mobile admin forms
.form-group {
  width: 100%;
  @include flex-direction(column);
}

.button-container {
  @include flex();
  padding: 0;
  a {
    min-width: 50%;
  }
  .go-button {
    margin-right: 2rem;
    width: 50%;
  }
}

// tablet nav bar
.admin-mobile-nav_links {
  width: 60%;
  min-height: 100%;
  border: 1px solid $title-text-hover;
  transition: all 0.4s;
  position: fixed;
  @include flex-direction(column);
  top: 5rem;
  left: 0;
  z-index: 1;
  background: $white;

  li {
    padding-left: 1rem;
    line-height: 2.5;
    font-size: 1.5rem;
    transition: all 0.3s;

    a {
      display: inline-block;
      width: 100%;
      color: $title-text;
      &:not(.btn):hover {
        color: $title-text-hover;
        text-decoration: underline;
      }
    }
  }
}

.image-update {
  width: 100%;
  .image-update_container {
    @include flex-align(center, center);
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
      text-align: center;
      margin: 1rem 0;
    }
    .image-container {
      width: 100%;
      height: 525px;
      img {
        @include images(100%, 100%, cover);
      }
    }
    form {
      margin: 1rem auto;
      width: 100%;
      @include flex-align(center, center);
      flex-direction: column;
      .photo-update-container {
        display: inline-block;
        width: 100%;
        margin: 1rem auto;
        border: none;
        input {
          display: inline-block;
          width: 50%;
          padding: 0.5rem 0;
          border: none;
        }
      }
      .button-container {
        width: 100%;
      }
    }
  }
}

.admin-login-form {
  padding: 1rem;
  height: 100%;
  @include flex-align(center, center);
  flex-direction: column;
  h1 {
    background: $go-button;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    color: $white;
  }
  form {
    width: 100%;
    @include flex-direction(column);
    justify-content: center;
    input[type="text"],
    input[type="password"] {
      width: 100%;
      display: inline-block;
    }
    label {
      font-size: 1rem;
      margin-top: 1rem;
    }
    button {
      display: inline-block;
      width: 70%;
      margin: 1rem 15%;
    }
  }
}
