.title-container {
  display: flex;
  align-items: center;
  h1 {
    width: 100%;
    margin: 1rem auto;
    padding: 0 0.75rem;
    text-align: center;
    font-size: 3.5rem;
  }
}

.card {
  margin-bottom: 2rem;
  .card-title {
    font-size: 2.5rem;
    border-bottom: 1px solid $border;
    padding-bottom: 1rem;
  }
  .card-content {
    padding: 0;
    .card-title {
      text-align: center;
      margin: 0.5rem 0;
    }
    p {
      border-bottom: 1px solid $border;
      padding: 0 1rem 0.75rem;
    }
  }
  .button-container {
    display: flex;
    margin-top: 1rem;
    .go-button {
      width: 100%;
      margin: 0 auto;
      margin-right: 4rem;
    }
    form {
      width: 100%;
      .delete-button {
        width: inherit;
      }
    }
  }
}

.filter-search {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 1rem 0.75rem;
  input[type="text"] {
    width: 50%;
  }
}
// navbar
.dash-board-container {
  ul {
    li {
      a {
        font-size: 1.5rem;
        line-height: 2.7rem;
      }
    }
  }
}
