.title-container {
  padding: 0 0.75rem;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 1rem;
    background: #333;
    opacity: 0.5;
    color: $white;
    border-radius: 0.75rem;
    padding: 1rem 0;
  }
}
.filter-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  margin-bottom: 1rem;
  input {
    width: 40%;
  }
  a {
    width: 25%;
  }
  input {
    margin-right: 4rem;
  }
}

.article-container {
  .card {
    .card-content {
      padding: 0;
      .card-title {
        text-align: center;
        margin: 0.5rem 0;
        border-bottom: 1px solid $border;
        padding-bottom: 0.5rem;
      }
      p {
        padding: 0 1rem 0.5rem;

        border-bottom: 1px solid $border;
        margin-bottom: 1rem;
      }
      .button-container {
        display: flex;
        padding: 0 0.75rem;
        a,
        form {
          width: 100%;
        }
        a {
          margin-right: 1rem;
        }
        form {
          button {
            width: inherit;
          }
        }
      }
    }
  }
}
