<% include ../../partials/header %>

<main class="index-container">
  <% include ../../admin/admin-nav %>
  <section class="product-container container">
    <h1>Table Products</h1>
    <div class="product-index">
      <div class="product-filte">
        <div class="filter-title">Sort
          <span class="material-icons arrow-down">keyboard_arrow_down</span>
          <span class="material-icons arrow-up">keyboard_arrow_up</span>
        </div>
        <div class="product-filter-options" <a href="#">extendable</a>
          <a href="#">compact</a>
        </div>
      </div>
      <a href="/admin/products/tables/new">Create New Product</a>
      <input type="text" placeholder="search" />
    </div>
    <div class="product-display-container">
      <div class="row">
        <% tableProducts.forEach(tables =>{ %>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="<%= tables.main_image %>" />
            </div>
            <div class="card-content purchase-information">
              <h4>
                <a href="/admin/products/tables/<%= tables._id %>">
                  <%= tables.title %>
                </a>
              </h4>
              <span>$<%= tables.price %></span>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</main>