<% include ../../partials/header %>
<% include ../../admin/admin-nav %>
<a href="/admin/products/tables/new">Create a Product</a>
<div style="display: flex; justify-content: space-between">
  <section style="min-width: 700px">
    <h4>Table products</h4>
    <div class="row">
      <% tableProducts.forEach(product => { %>
      <div class="col s12 m6 l3">
        <div class="card">
          <a href="/admin/products/tables/<%=product._id%>">
            <div class="card-image">
              <img src="<%=product.main_image%>" alt="" class="circle">
            </div>
          </a>
          <span class="title"><%=product.title%></span>
          <a href="/admin/products/tables/<%=product._id%>" class="secondary-content"><i
              class="material-icons">info</i></a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</div>



<% include ../../partials/footer %>