.hero-section_container {
  .hero-section_image-container {
    height: 560px;
    .hero-section_image {
      display: inline-block;
      @include images(100%, 100%, cover);
      height: 560px;
    }
    .hero-section_title-container {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      p {
        font-size: 2.5em;
        max-width: 70%;
      }
    }
  }
}

.index-articles {
  .container {
    min-width: 90%;
  }
  h1 {
    margin: 1rem 0;
    @include text-align(center);
  }
}

.row {
  border-bottom: 1px solid $border;
  padding-bottom: 1rem;
  margin-bottom: 0;
  .card {
    margin: 0 0.75rem;
    .card-image {
      height: 350px;
      img {
        @include images(100%, 100%, cover);
      }
    }
    .card-content {
      padding: 0 0.75rem;
      .card-title {
        margin: 0.75rem 0;
        @include text-align(center);
      }
    }
  }
}

.button-container {
  @include flex-align(center, center);
  margin: 1rem 0;
  width: 100%;
  a {
    width: 40%;
  }
}
