@import "../variables";

.index-navigation {
  position: sticky;
  top: 0;
  left: 0;
}

.index-navigation-links {
  top: 76px;
  width: 60%;
}
.index-navigation .index-navigation-container .logo img {
  width: 100%;
}

.row {
  margin: 0;
}

.hero-section_title-container {
  p {
    font-size: 3rem;
    max-width: 100%;
  }
}

.index-articles {
  h1 {
    @include text-align(center);
    margin: 2rem 0;
    padding: 1rem 0;
    background-color: #333;
    color: $white;
  }

  .card-container {
    @include flex-direction(column);
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .card {
      margin: 0;
      @include flex();
      .card-image {
        height: 200px;
        width: 100%;
        img {
          @include images(100%, 100%, cover);
        }
      }
      .card-content {
        padding: 0.75rem 1.5rem;
        .card-title {
          @include flex-space-between(space-between, center);
          margin: 0.75rem 0;
          padding-bottom: 0.75rem;
          border-bottom: 1px solid $border;
          font-size: 2rem;
        }
        .card-description {
          padding-top: 0.75rem;
        }
      }
    }
  }
  .button-container {
    width: 70%;
    margin: 0 auto;
    a {
      width: 100%;
      margin: 1rem auto;
    }
  }
}
