.index-navigation-container,
.index-navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .index-logo {
    margin: 0;
    width: 70%;
    padding: 10px 0;
    display: flex;
    align-items: center;

    img {
      height: 4rem;
      width: 70%;
    }
  }
}
